[2019-08-18 19:22] newpotsdev opened #6 "Add codecov"
@timoniq add code covarage please.
-----------------------------------------------
@timoniq добавьте покрытие кода пожалуйсто.

use codecov.io

[2019-08-18 20:04] newpotsdev opened #7 "Critical issue at example of async bot"
[code]
Using an example async-chat-bot.py

[2019-08-19 06:24] timoniq commented on #7
@newpotsdev, leave your code samples, please. From the Bot Auth, to your decorator with function named 'hi'

[2019-08-19 06:34] timoniq commented on #7
Fix it in the next master commit

[2019-08-19 18:27] #7 closed

[2019-08-20 10:05] 0susboy0 opened #9 "ясно"
ясно хуета

[2019-08-20 10:05] Inzilkin commented on #9
+rep

[2019-08-20 10:09] #9 closed

[2019-09-16 13:29] lujo777 opened #13 "Where are buttons?"
- Who we are?
- We're coders!
- What we'd like to see in this lib?
- BUTTONS!!!!!

Please add button support!

[2019-09-16 13:53] timoniq commented on #13
I have just lost all my examples of buttons usage, but now I'm ready to invent readme's secton
Now you can use keyboard generator like this:
`[[row], [{'text': 'Your Button'}, {'text': 'Your Red Button', 'color': 'negative'}]]`
I am working on fixes now

[2019-09-16 19:09] timoniq commented on #13
Now, done

[2019-09-16 19:09] #13 closed

[2019-10-25 11:57] timoniq commented on #7
It is not an option. It is just a view about how users can promise their events for VKBottle main emulator. I understand all disadvantages of this way and suggest lots of replacements.
PR are welcome! Good luck

[2019-10-25 14:21] timoniq opened #10 "Branches compat. events"
Прекрасно бы было увидеть возможность совмещения бранчей со всеми событиями, таким образом можно будет создавать такие конструкции как:
- Даю тебе задание написать комментарий "[комментарий]" под записью [запись]
- *Пишет комментарий [комментарий] под записью [запись]*
- Спасибо!

It's going to be great if branches are compatible with all types of events;
- My task for you: write comment [comment]

[2019-12-13 20:10] tsivx opened #14 "KeyError: 'client_info'"
![изображение](https://user-images.githubusercontent.com/40364630/70828930-3c674e00-1e0e-11ea-9834-f2dc14b864b7.png)

Видимо, с веб версии ВКонтакте client_info не высылается и бот совсем отказывается работать.

[2019-12-13 20:11] ghost commented on #14
Версия API - **5.103**? Если нет - укажите её в настройках Longpoll. Без этого бот работать не будет.

[2019-12-13 21:27] tsivx commented on #14
Ах, да, забыл об этом. Указал нужную версию, теперь всё работает. Спасибо!

[2019-12-13 21:27] #14 closed, assigned to nobody

[2020-01-24 04:45] DarklyZ opened #16 "data как атрибут класса, а не его экземпляра"
В VBMLRule (и других правилах) self.data является атрибутом самого класса, а надо чтобы она была атрибутом его экземпляров, к примеру сейчас не работают команды в кол-ве > 1.
Следует заменить self.data['pattern'] = patterns на self.data = {'pattern': patterns} (и так для каждого правила соответственно), тогда для каждого экземпляра класса будет существовать своя data и баг будет пофиксен. С уважен

[2020-01-24 05:36] timoniq commented on #16
Фикс поступит в ближайшее время!

[2020-01-24 15:15] #16 closed, assigned to nobody

[2020-01-29 07:58] timoniq opened #20 "User LP Typing Event Models"
Enhancement to add LP models for all events. Moreover, debugging options for themselves

[2020-02-19 04:11] markelovstyle opened #33 "Event "wall_reply_delete" has no "deleter_id" in the event object."
In the VK API documentation written, that the event "wall_reply_delete" has object, which contains next fields: owner_id (integer), id (integer), deleter_id (integer), post_id (integer). But, when I was trying to get that event, I got event (dict) this type: {'type': 'wall_reply_delete', 'object': {'owner_id': -162948621, 'id': 76498, 'post_id': 76366}}

Documentation: https://vk.com/dev/groups_ev

[2020-02-24 04:14] markelovstyle opened #36 "Вместо attachments приходит None User LP"
В хэндлере on.message_new() в User LP вместо attachments приходит **None**, хотя mode выставлен и равняется двум.

![image](https://user-images.githubusercontent.com/58641629/75128438-ac554880-5689-11ea-9aba-bd2126366d18.png)
![image](https://user-images.githubusercontent.com/58641629/75128468-d444ac00-5689-11ea-88f4-47af7012d2f8.png)
![image](https://user-images.githubusercontent.com/58641629/751

[2020-03-01 08:06] json1c opened #46 "Не работает код из примера User LP"
https://github.com/timoniq/vkbottle/blob/master/vkbottle/user.py

`Traceback (most recent call last):
  File "c:\Users\User\game_bot\test.py", line 1, in <module>
    from vkbottle.user import User
ModuleNotFoundError: No module named 'vkbottle.user'`

[2020-03-01 08:15] timoniq commented on #46
Как устанавливали библиотеку?

[2020-03-01 08:20] json1c commented on #46
pip install vkbottle==1.35

[2020-03-01 08:22] timoniq commented on #46
На версии 1.35 еще не доступен user longpoll, обновите библиотеку с помощью команды:
[code]

[2020-03-01 08:24] #46 closed, assigned to nobody

[2020-03-01 08:29] json1c opened #47 "Проблема при установке vkbottle - Build Tools for Visual Studio"
.

[2020-03-01 08:35] timoniq commented on #47
### Для работы vkbottle рекомендуется python версии 3.7
### Build tools можно скачать по этой ссылке:
https://go.microsoft.com/fwlink/?LinkId=691126

[2020-03-01 08:56] timoniq commented on #47
Загрузите полный лог установки на https://pastebin.com и пришлите сюда ссылку. Одной лишь ошибкой невозможно руководствоваться, нужно понять при установке чего конкретно появляется ошибка

[2020-03-01 09:59] timoniq commented on #47
Решения вашей проблемы:

Обновите установщик pip и `setuptools`:
[code]
Установка `Build tools`: [установить здесь](https://visualstudio.microsoft.com/thank-you-downloading-visual-studio/?sku=BuildTools&rel=16)
Использовать `--only-binary :all:` при установке пакета

https://stackoverflow.com/questions/47253638/error-microsoft-visual-c-14-0-is-required-when-installing-python-package

[2020-03-01 12:09] #47 closed, assigned to nobody

[2020-03-04 04:38] markelovstyle opened #48 "AttributeError: 'Handler' object has no attribute '__name__'"
I get an exception after concatenating Handler. Fix pls

"Bot Handler was concatenated with {handler}", `handler=handler.__name__`
`AttributeError: 'Handler' object has no attribute '__name__'`

[2020-03-04 07:06] #48 closed, assigned to nobody

[2020-03-10 05:54] DarklyZ opened #51 "bot.on.chat_message.regex отсутствует"
Почему `bot.on.chat_message.regex` удалён из хэндлеров?

[2020-03-10 06:03] markelovstyle commented on #51
Вместо `regex` есть Rules и VBML. Поэтому он тут лишний

[2020-03-10 06:04] axd1x8a commented on #51
рулзы

[2020-03-10 06:10] DarklyZ commented on #51
Так как я правила для `regex`'ов не наблюдаю, придётся писать либо своё правило, либо в `VBMLRule` посылать `Pattern`'ы, настроенные как `regex`'ы, а это, я считаю, куда неудобнее, чем было до этого

[2020-03-10 07:29] DarklyZ commented on #51
Решил проблему локально, закрываю вопрос.

[2020-03-10 07:29] #51 closed, assigned to nobody

[2020-03-20 17:36] markelovstyle opened #52 "Возможность указывать параметр «lower» в VBMLUserRule"
Dear Arseny, please add the ability to specify the lower parameter to the VBMLUserRule

[2020-03-20 19:12] markelovstyle commented on #36
Спасибо за фикс. Закрываю.

[2020-03-20 19:12] #36 closed, assigned to nobody

[2020-03-20 19:13] #33 closed, assigned to nobody

[2020-03-21 03:39] markelovstyle commented on #52
Вопрос решен. Закрываю

[2020-03-21 03:39] #52 closed, assigned to nobody

[2020-03-26 21:13] markelovstyle opened #54 "Создание Lock контроллера для вызова методов в User LP"
Часто сталкиваюсь с такой ситуацией, когда ВК пробрасывает исключение **Too many requests per second**, поэтому неплохо было бы сделать какой-нибудь контроллер, который будет управлять запросами API.

[2020-03-26 22:02] kesha1225 commented on #54
Сделай много токенов и все

[2020-03-31 23:56] markelovstyle commented on #54
Проблема решена. Много токенов все таки помогли ._.

[2020-03-31 23:56] #54 closed, assigned to nobody

[2020-04-02 00:16] markelovstyle opened #57 "Make TokenManager"
Make TokenManager for multiple token storage and then switch them in case of too many requests per second error

**#TODO**

[2020-04-04 20:40] #57 closed, assigned to nobody

[2020-04-09 03:56] markelovstyle opened #60 "AttributeError: 'AllFilter' object has no attribute 'create'"
Error on start up.

[2020-04-09 03:57] markelovstyle commented on #60
Not only "Allfilter", but all filters inherited from Abstractfilter

[2020-04-12 18:10] #60 closed, assigned to nobody

[2020-04-13 05:10] markelovstyle opened #67 "Validator Error [User LP]"
pydantic.error_wrappers.ValidationError: 1 validation error for Message
fwd_messages -> 0 -> attachments
  value is not a valid dict (type=type_error.dict)

**This happens to all other objects**

[2020-04-13 05:11] markelovstyle commented on #67
Full log: https://pastebin.com/WjwPqt1Y

[2020-04-13 08:31] #67 closed, assigned to nobody

[2020-04-13 11:10] timoniq opened #69 "More Bot templates"
### Idea
Make some bot templates to make bots easily created "in one string" like this:
[code]
From [echo template](https://github.com/timoniq/vkbottle/blob/master/examples/tests/templates/echo_bot.py) example

### Todo
Some template ideas to make in the nearest future:

- [x] `Echo` bot template
- [ ] `ChatManager` bot template
- [x] `TextBot` bot template

Leave your enhancements for bot templat

[2020-04-14 08:15] markelovstyle opened #71 "Баг"
**Опишите баг**
AttributeError: module 'vkbottle.types.objects' has no attribute 'photos'

**Что должно было случится**
Ошибки быть не должно.

**Ваш код**
https://pastebin.com/nkGKATBs

**Заполните поля:**
 - OS: Ubuntu
 - Version of vkbottle: 2.7

**Дополнительная информация**
...

[2020-04-14 10:26] timoniq commented on #71
Будет исправлено в ближайшее время

[2020-04-14 13:11] timoniq commented on #71
Исправлено в [реверте](https://github.com/timoniq/vkbottle/commit/2b0af59d0463c0ec625f1de62cef6087a5dc6e29)

[2020-04-14 13:11] #71 closed, assigned to timoniq

[2020-04-15 06:19] markelovstyle opened #72 "Exception"
**Опишите баг**
AttributeError: can't set attribute

**Что должно было случится**
The code supposed to work fine.

**Ваш код**
Traceback (most recent call last):
    bot = Bot(tokens=token, debug=True)
  File "C:\Users\12568\PycharmProjects\ScheduleBot\venv\lib\site-packages\vkbottle\framework\bot\bot.py", line 106, in __init__
    self.api.group_id = self.group_id
AttributeError: can't set attrib

[2020-04-15 07:47] #72 closed, assigned to timoniq

[2020-04-15 14:16] markelovstyle opened #74 "Exception"
**Опишите баг**
pydantic.error_wrappers.ValidationError: 1 validation error for GetByIdModel

**Что должно было случится**
Ошибки быть не должно

**Ваш код**
https://pastebin.com/jUvzJipT

**Заполните поля:**
 - OS: Ubuntu 16.04
 - Version of vkbottle: Latest

**Дополнительная информация**
N/A

[2020-04-16 10:24] timoniq commented on #74
Дополните ваше issue пришедшим ивентом пожалуйста (`bot = Bot(..., debug="DEBUG")`)

[2020-04-18 16:57] timoniq opened #77 "Новая возможность - User Longpoll API similar to bot's"
**Запрос на возможность связан с проблемой? Если да, опишите**
Добавление схожего с ботами API для `User` класса. Иногда очень хочется быстро перенести систему хендлеров из бота в юзера и обратно, но к сожалению с текущим состоянием юзер лп это невозможно

**Опишите решение, которое вы бы хотели видеть**

- [x] Схожее API для хендлеров (`message`, `chat_message`, `message_handler` для добавления п

[2020-04-19 01:56] markelovstyle commented on #74
UPD (New Exception (vkbottle.bot.Bot)):

Exception: https://pastebin.com/j9MiERh9
Event: https://pastebin.com/g5C5PVNK

[2020-04-19 02:00] markelovstyle opened #80 "Баг - Blueprints don't concatenate Middlewares on start up"
**Опишите баг**
Blueprints don't concatenate Middlewares on start up

**Что должно было случится**
Опишите ожидаемое поведение фреймворка

**Ваш код**
AttributeError: 'NoneType' object has no attribute 'middleware_handler'

**Заполните поля:**
 - OS: Windows
 - Version of vkbottle: Latest

**Дополнительная информация**
...

[2020-04-19 02:03] markelovstyle opened #81 "Баг - Chat action events don't process by AsyncHandleManager"
**Опишите баг**
Chat action events don't process by AsyncHandleManager

**Что должно было случится**
N/A

**Ваш код**
N/A

**Заполните поля:**
 - OS: Windows
 - Version of vkbottle: Latest

**Дополнительная информация**
...

[2020-04-19 13:55] #80 closed, assigned to timoniq

[2020-04-19 14:00] #81 closed, assigned to timoniq

[2020-04-20 07:34] #74 closed, assigned to timoniq

[2020-04-20 09:34] timoniq opened #84 "Менеджер для handler return"
**[Дополнительно] Пример псевдокода**
[code]

[2020-05-02 11:33] timoniq commented on #77
Ура, закрываю!

[2020-05-02 11:33] #77 closed, assigned to timoniq

[2020-05-03 10:13] TheLovii opened #94 "Баг"
**Опишите баг**
В cls_branch хендлеры срабатывают по цепочке

**Что должно было случится**
Хендлер должен сработать в соотвестивии с условием заданным в нём, и не обязательно соблюдая цепочку.

**Ваш код**
![image](https://user-images.githubusercontent.com/59450514/80911577-8b2b6b00-8d50-11ea-993e-cdd340ce3957.png)

![image](https://user-images.githubusercontent.com/59450514/80911583-98e0f080-8d50

[2020-05-03 10:24] timoniq commented on #94
Вышлите код через pastebin

[2020-05-03 10:25] TheLovii commented on #94
https://pastebin.com/2nCJMTQb

[2020-05-03 10:32] timoniq commented on #94
Баг не воспроизводится, ваш код прекрасно работает, при условии что я убираю клавиатуру с `go_menu`

[2020-05-03 10:33] axd1x8a commented on #94
Куплю аккаунт стендофф 2

[2020-05-03 10:33] #94 closed, assigned to timoniq

[2020-05-03 10:45] TheLovii commented on #94
Значит проблема в библиотеке, потому что клавиатура составлена по инструкции, а судя по документации этот код должен работать с клавиатурой
https://pastebin.com/puZC8xZd

[2020-05-03 10:52] TheLovii opened #95 "Баг"
Опишите баг
В cls_branch хендлеры срабатывают по цепочке

Что должно было случится
Хендлер должен сработать в соотвестивии с условием заданным в нём, и не обязательно соблюдая цепочку.

Ваш код
https://pastebin.com/2nCJMTQb
https://pastebin.com/puZC8xZd

**Заполните поля:**
 - OS: Windows 10
 - Version of vkbottle: 2.7.2

**Дополнительная информация**
Значит проблема в библиотеке, потому что клави

[2020-05-03 10:53] TheLovii commented on #95
menutext
https://pastebin.com/gaHrR63p

[2020-05-03 12:13] timoniq commented on #95
Баг не воспроизводится

[2020-05-03 14:37] TheLovii commented on #95
Решил проблему.
Проблема оказалась в том, что lower не работал.
Поэтому хендлер не реагировал на сообщение с другим регистром.

[2020-05-03 14:52] #95 closed, assigned to timoniq

[2020-05-04 10:39] timoniq commented on #20
Resolved. Closed

[2020-05-04 10:39] #20 closed, assigned to nobody

[2020-05-04 10:52] MrSmitix opened #96 "Баг с клавиатурой"
**Опишите баг**
При добавлений кнопки с типом open_link/location/vkpay/vkapps нельзя указывать цвет для кнопки, а библиотека делает это по умолчанию для всех кнопок. Как следствие 911 ошибка.

**Что должно было случится**
Должна была сгенерироваться и отправиться валидная клавиатура

**Ваш код**
![image](https://user-images.githubusercontent.com/48173468/80958667-d0b66980-8e1e-11ea-9c1c-2347820f72

[2020-05-04 11:04] #96 closed, assigned to timoniq

[2020-05-05 10:01] #69 closed, assigned to timoniq

[2020-05-10 10:58] Doncode opened #97 "Баг"
**Что должно было случится**
Должно отправится сообщение c кнопкой ссылкой

**Ваш код**
[code]

**Опишите баг**
Не удается отправить клавиатуру с кнопкой типа `OpenLink`
Получаю ошибку
[code]

[2020-05-10 11:06] Doncode commented on #97
Обходной путь в виде хака
work around
[code]

[2020-05-10 11:17] timoniq commented on #97
Проблема уже была решена ранее, но решения еще нет в pypi. Обновите библиотеку так:
[code]

[2020-05-10 11:52] Doncode commented on #97
Проблема не решилась обновление из zip

[2020-05-10 11:56] timoniq commented on #97
Баг не воспроизводится

[2020-05-11 16:07] nm17 opened #100 "Методы не поддерживают параметры captcha_sid и captcha_key"
**Опишите баг**
Для прохождения капчи нужно в параметрах указать captcha_sid и captcha_key
Т.к в коде методы не принимают `**kwargs` или `captcha_sid` или `captcha_key`, питон пишет что таких параметров нет.

**Что должно было случится**
Фреймворк должен в параметрах передать captcha_sid и captcha_key (https://vk.com/dev/captcha_error)

**Ваш код**
[code]

### Exception
[code]

**Заполните поля:**

[2020-05-11 16:59] timoniq commented on #100
Скоро будет исправлено

[2020-05-11 17:55] #100 closed, assigned to timoniq

[2020-05-12 04:24] #97 closed, assigned to timoniq

[2020-05-12 07:11] timoniq opened #102 "Новая возможность: трансляция в вкскрипт для метода execute"
**Опишите решение, которое вы бы хотели видеть**
Хендлер, транслирующий код в vkscript для последующего вызова

**Опишите решения, которые вы временно предприняли для решения этого вопроса**
Просто сохраняя код в отдельных файлах .vkscript или в строках

**[Дополнительно] Пример псевдокода**
[code]
Далее просто:

[code]

[2020-05-12 11:46] #102 closed, assigned to timoniq

[2020-05-16 08:31] Doncode commented on #97
@timoniq Обновился до vkbottle==2.7.3
Теперь у всех кнопок пропали цвета

[2020-05-16 08:39] timoniq commented on #97
Баг воспроизводится при генерации клавиатуры через `vkbottle.keyboard.Keyboard`. Проблема была решена, пожалуйста, обновитесь с мастера.

[2020-05-16 08:42] Doncode commented on #97
[code]

[code]

[2020-05-16 08:48] Doncode commented on #97
@timoniq Спасибо за оперативное решение проблемы

[2020-05-16 17:24] markelovstyle opened #105 "Изменение работы бранчей"
**Запрос на возможность связан с проблемой? Если да, опишите**
На данный момент бранчи работают не так, как хотелось бы. Допустим мне нужно поместить в бранч только определенного юзера из беседы, чтобы для остальных пользователей хэндлеры не блокировались. Но есть проблема, в `AsyncHandleManager._processor` обрабатывается только `peer_id`.

**Опишите решение, которое вы бы хотели видеть**
В `Abstr

[2020-05-17 18:16] axd1x8a opened #106 "Не работают бранчи в блупринтах"
**Опишите баг**
Бранчи не работают в блупринтах

**Что должно было случится**
Бранчи работают в блупринтах

**Ваш код**
![image](https://user-images.githubusercontent.com/26704473/82156205-97e8ac80-9882-11ea-91a5-805183733bc4.png)![image](https://user-images.githubusercontent.com/26704473/82156270-d67e6700-9882-11ea-9148-40ad84a84a0b.png)![image](https://user-images.githubusercontent.com/26704473/

[2020-05-17 18:17] timoniq commented on #106
Можете пожалуйста прислать код через pastebin

[2020-05-17 18:20] axd1x8a commented on #106
https://pastebin.com/PKmwSQ7e

[2020-05-18 08:53] #106 closed, assigned to timoniq

[2020-05-18 10:35] Doncode opened #107 "Обработка всех непрочитанных сообщений"
**Запрос на возможность связан с проблемой? Если да, опишите**
Сейчас бот получает сообщения только с момента когда он запущен.
Если сделать перезапуск бота когда пользователи ему пишут, то сообщения останутся непрочитанными и неотвеченными.

**Опишите решение, которое вы бы хотели видеть**
При запуске бот получается все непрочитанные сообщения и обрабатывает их.
Возможно это какой-то параметр при

[2020-05-18 11:00] timoniq commented on #107
Есть параметр skip_updates который позволяет обработать все полученные сообщения. Добавьте флаг при запуске бота:
`bot.run_polling(skip_updates=False)`

[2020-05-20 18:15] timoniq opened #108 "Middleware не работает как это было задумано"
**Запрос на возможность связан с проблемой? Если да, опишите**
Невозможно сделать пост-обработку

**Опишите решения, которые вы временно предприняли для решения этого вопроса**
Встраиваю пост-обработку в хендлеры

**[Дополнительно] Пример псевдокода**
[code]
Придется избавиться от старого интерфейса `Middleware.middleware`

[2020-05-21 06:26] #108 closed, assigned to nobody

[2020-05-21 06:27] #107 closed, assigned to nobody

[2020-05-21 06:28] timoniq commented on #105
Решено, закрываю

[2020-05-21 06:28] #105 closed, assigned to nobody

[2020-05-21 06:44] timoniq opened #109 "Баг - Не работают chat_invite и chat_mention в Blueprint"
**Опишите баг**
Не работают chat_invite и chat_mention в блупринтах

[2020-05-21 17:09] Doncode commented on #107
Это будут все сообщения или все непрочитанные?

[2020-05-21 17:10] axd1x8a commented on #107
Все неотвеченные, если они проходят по хендлеру.

[2020-05-21 17:11] timoniq commented on #107
Из всех неотвеченных диалогов обработаются последние сообщения

[2020-05-25 14:05] Vast-Nectarine opened #113 "Добавление FSM"
Почему бы не добавить fsm  [как в aiogram](https://aiogram.readthedocs.io/en/latest/examples/finite_state_machine_example.html)
И сделать какую-то интеграцию с кнопками?

[2020-05-25 14:08] timoniq commented on #113
1. FSM = бранчи
2. Что? 2 генератора клавиатуры - мало?

[2020-05-26 06:32] Vast-Nectarine commented on #113
1. Не увидел.
2. Не увидел, но приведу пример.
Допустим, я пишу бота, основанного на кнопках.
Пользователь начинает беседу с ботом, видит меню, состоящее из 3-ех кнопок: "Пойти налево", "Пойти прямо", "Пойти направо". С payload-ми: "left", "straight", "right" соответственно. Допустим, пользователь нажал на вторую кнопку. Как мне это обрабатывать, используя бранчи, потому что payload можно свой соб

[2020-05-26 06:38] markelovstyle commented on #113
[code]

[2020-05-26 07:03] Vast-Nectarine commented on #113
Как же тогда бороться с тем, что можно свой payload написать и отправить через messages.send?

[2020-05-26 07:14] timoniq commented on #113
Его в любом случае можно отправить самому, те же кнопки. Хендлеры в бранче не будут обрабатываться если пользователь не в бранче, мне кажется это очевидно.

[2020-05-26 07:17] Vast-Nectarine commented on #113
Извините, что туплю, но ведь код выше не использует бранчи.

[2020-05-26 07:18] timoniq commented on #113
Как это, именно что использует. `ClsBranch` самая удобная имплементация бранчей, прочитайте [документацию](https://github.com/timoniq/vkbottle/blob/master/docs/branches.ru.md) пожалуйста

[2020-05-28 13:41] #113 closed, assigned to nobody

[2020-05-28 19:26] Doncode opened #117 "TypeError: 'coroutine' object is not callable"
**Опишите баг**
Вылетает исключение.
На предыдушей версии данной проблемы не наблюдалось
database для хранения состояния не использую

[code]

**Ваш код**
`await bot.branch.add(ans.peer_id, "branch5", offer_id=offer.id)`

**Заполните поля:**
vkbottle-2.7.5
Установлен c GIT

[2020-05-28 19:36] Doncode commented on #117
Откатился на коммит 3ef038ddb169617cce8065b640d5d22dc59fb29b
Работает
[code]

[2020-05-29 06:36] #117 closed, assigned to timoniq

[2020-06-01 00:48] LooPeKa opened #119 "ImportError"
**Опишите баг**
Traceback (most recent call last):
  File "/data/data/com.termux/files/usr/lib/python3.8/multiprocessing/synchronize.py", line 28, in <module>
    from _multiprocessing import SemLock, sem_unlink
ImportError: cannot import name 'SemLock' from '_multiprocessing' (/data/data/com.termux/files/usr/lib/python3.8/lib-dynload/_multiprocessing.cpython-38.so)

During handling of the above e

[2020-06-01 00:49] markelovstyle commented on #119
`bot = Bot("token", mobile=True)`

[2020-06-01 00:53] LooPeKa commented on #119
Спасибо , святой!

[2020-06-01 00:54] markelovstyle commented on #119
Не за что, закрывай issue.

[2020-06-01 00:54] LooPeKa commented on #119
)

[2020-06-01 00:54] #119 closed, assigned to timoniq

[2020-06-02 21:43] kitag4wa opened #120 "Возникла проблема при использование vkbottle uploader"
Делаю бота через vkbottle.bot в группе.
Суть заключается в том, что человек пишет в лс группы "привет" и прикрепляет картинку к сообщению, бот же должен сохранить ссылку на вложение и отослать на другой сайт, после оттуда сохранить к себе и отправить(загрузить) тому человеку, который прислал её в лс группы.

Код скрипта с python на pastebin: https://pastebin.com/TzHHYra2

также прикрепляю скрин ош

[2020-06-02 21:44] markelovstyle commented on #120
`photo_uploader = PhotoUploader(api=bot.api, generate_attachment_strings=True)`

[2020-06-03 06:27] kitag4wa commented on #120
Спасибо!

[2020-06-03 06:27] #120 closed, assigned to nobody

[2020-06-05 07:03] #109 closed, assigned to timoniq

[2020-06-11 05:44] LooPeKa opened #122 "Баг"
**Опишите баг**
Please check your internet connection

**Что должно было случится**
Пишу боту, но выходит такая ошибка

**Ваш код**
https://pastebin.com/B11cWBxh

**Заполните поля:**
 - OS: Pythonanywhere
 - Version of vkbottle: 2.7.5

**Дополнительная информация**
[https://vk.com/photo589229003_457240189](https://vk.com/photo589229003_457240189)

[2020-06-11 05:52] timoniq commented on #122
Ничего хорошего не работает на pythonanywhere, воспользуйтесь нормальными бесплатными хостингами например [heroku](https://www.heroku.com/). К теме багов это никак не относится

[2020-06-11 05:58] LooPeKa commented on #122
Хорошо , спасибо!)

[2020-06-11 05:58] #122 closed, assigned to timoniq

[2020-06-12 01:47] markelovstyle opened #126 "Возникновение ошибки в AttachmentRule"
**Опишите баг**
При создании хэндлера с правилом `AttachmentRule` возникает ошибка `AttributeError`

**Ваш код**
https://pastebin.com/9sCmiTAt

**Заполните поля:**
 - OS: Windows
 - Version of vkbottle: Latest

**Дополнительная информация**
Использую `vkbottle.framework.user.User`, возможно у `Bot`  такой проблемы не будет, так как `attachments` типизированы.

[2020-06-12 17:34] markelovstyle opened #129 "Ошибка валидации модели GetIdByModel"
**Опишите баг**
Возникает ошибка валидации поля в `GetIdByModel`.

**Ваш код**
https://pastebin.com/YX5wG8SW

**Заполните поля:**
 - OS: Windows
 - Version of vkbottle: Latest

**Дополнительная информация**
Такое происходит при отправке плейлиста

[2020-06-12 18:37] matvey-istomin commented on #129
Каков attachment['type']? Отправил плейлист, получил type=link. link есть в перечислении.

[2020-06-12 18:37] markelovstyle commented on #129
Принтани результат запроса от `messages.get_by_id`

UPD: Type=audio_playlist

[2020-06-12 18:43] matvey-istomin commented on #129
[вот](https://pastebin.com/pMkxa1iW)
Версия 5.107. Запрос делал через веб-версию
А vkbottle работает на 5.103

[2020-06-12 19:02] matvey-istomin commented on #129
Проверил с ботом, всё точно также.

[2020-06-16 12:29] dwapper opened #134 "Опечатка в документации"

[2020-06-16 12:37] dwapper commented on #134
Так же в [README лицензии](https://github.com/timoniq/vkbottle/blob/master/README.md#%D0%BB%D0%B8%D1%86%D0%B5%D0%BD%D0%B7%D0%B8%D1%8F) указана GPL 3.0, когда судя по [LICENCE](https://github.com/timoniq/vkbottle/blob/master/LICENSE) лицензия на самом деле **MIT**

[2020-06-16 13:43] seeyoga opened #135 "Ошибка при работе росток (sprout)"
**Опишите баг**
При попадание в росток, получаю ошибку
[code]

**Что должно было случится**
Я подозреваю что должен быть цикл бесконечный где при наступление события он выходит, но после того как попадаешь в росток выпадает ошибка и бот не реагирует

**Ваш код**
[code]

**Заполните поля:**
 - OS: Windows 10
 - Version of vkbottle: 2.7.5

**Дополнительная информация**
...

[2020-06-16 13:48] quick-wq commented on #135
Залейте код на pastebin. Без отступов он нечитабелен, от слова совсем

[2020-06-16 14:00] seeyoga opened #136 "Баг ошибка при работе branch (веток)"
**Опишите баг**
После того как поподаешь в branch, выдает ошибку
[code]
**Что должно было случится**
не должно быть ошибки, работа бота должна продолжаться

**Ваш код**
https://pastebin.com/ewDxEP2m
[code]

**Заполните поля:**
 - OS: Windows 10 x64
 - Version of vkbottle: 2.7.5

**Дополнительная информация**
...

[2020-06-16 14:07] quick-wq commented on #136
Удалите предыдущий issue или этот. Следуйте просьбам пожалуйста, тоже самое вас попросит timoniq

[2020-06-16 14:24] seeyoga commented on #135
https://pastebin.com/nwt0CSjm

[2020-06-16 14:31] seeyoga commented on #136
Так проблемы разные в этих двух issue? Просто описывать две разные проблемы в одном issue , не лучший выход.

[2020-06-16 14:42] markelovstyle commented on #135
Обновите VKBottle с master`a:

`pip install https://github.com/timoniq/vkbottle/archive/master.zip --upgrade`

[2020-06-16 14:45] seeyoga commented on #135
Помогло отлично)

[2020-06-16 14:45] #135 closed, assigned to timoniq

[2020-06-16 14:45] markelovstyle commented on #136
В смысле разные? Ты открыл 2 issue для одной и той же проблемы. Закрывай

[2020-06-16 14:45] #136 closed, assigned to timoniq

[2020-06-16 22:13] seeyoga opened #138 "Баг с клавиатурой (Location)"
**Опишите баг**
При использование Location  в клавиатуре выдает ошибку 911 (возможно из за того что передается label по дефолту)

[code]

**Что должно было случится**
Клавиатура должна отправляться корректно

**Ваш код**
[code]

**Заполните поля:**
 - OS: Windows 10 x64
 - Version of vkbottle: 2.7.5

**Дополнительная информация***
Если отправлять клавиатуру без поля text, то присвоится пустой labe

[2020-06-17 08:08] timoniq commented on #138
Скорее всего в кнопке с типом `location` текст передается через поле `label`

[2020-06-17 09:27] seeyoga commented on #138
Попробывал с label, так же получил ошибку
[code]

***Мой код***
[code]

[2020-06-17 20:33] Doncode opened #139 "Баг в работе с бранч"
**Опишите баг**
- заходим в branch1 `await bot.branch.add(ans.peer_id, 'branch1')`
- пользователь отвечает на сообщения и вызывается код branch1
- `await bot.branch.exit(ans.peer_id)`
- `await bot.branch.add(ans.peer_id, 'branch2')`
- пользователь пишет сообщение, но снова попадает в branch1

**Что должно было случится**
Пользователь должен попадать в branch2

**Заполните поля:**
 - Version of vkb

[2020-06-17 20:35] markelovstyle commented on #139
`await bot.branch.exit()` -- принимает идентификатор пользователя/чата, а не название бранча.

[2020-06-17 20:38] Doncode commented on #139
Да. В коде у меня используется `await bot.branch.exit(ans.peer_id)` и это не работает
Поправил описание в первом сообщении

[2020-06-17 20:48] Doncode commented on #139
Полный код
[code]

Результат

[2020-06-17 21:01] markelovstyle commented on #139
Попробуй сначала `add`, а потом уже `exit`

[2020-06-18 16:35] timoniq commented on #134
Спасибо за бдительность, скоро исправим!

[2020-06-21 16:43] timoniq commented on #138
В кнопке для отправки местоположения нельзя поставить свой текст

Из документации вк:

<img width="663" alt="Screen Shot 2020-06-21 at 19 41 56" src="https://user-images.githubusercontent.com/52574917/85230207-530ee300-b3f7-11ea-9e7b-21537823f1be.png">

[2020-06-21 16:44] #134 closed, assigned to timoniq

[2020-06-21 17:18] seeyoga commented on #138
Так по чему нельзя отправить кнопку без label? Он автоматом подставляется где то?

*** Ошибка ***

[code]

*** Мой код ***
[code]

У меня есть догадка что в этом месте подставляеться label ко всем кнопкам, потому что если закомментировать строчку label не будет подставляться в кнопки, если ошибся и мои догадки не корректны, прошу помочь разобраться с этой проблемой

[code]

[2020-06-22 12:32] TheLovii opened #141 "Баг"
**Опишите баг**
Не отвечает на сообщение со стороны юзера

**Что должно было случится**
Сработает соответствующий хендлер

**Ваш код**
https://pastebin.com/WrgxNe0m

**Заполните поля:**
 - OS: Windows 10 Pro
 - Version of vkbottle: 2.7.5

**Дополнительная информация**
Ошибка в консоли:
https://pastebin.com/A0JxtSLv

[2020-06-22 12:42] timoniq commented on #141
Препроцесс устарел, пользуйтесь нормальными мидлварями

[2020-06-22 12:49] TheLovii commented on #141
Не нашёл документации по мидлварям, не могли бы вы скинуть ссылку?

[2020-06-22 12:53] TheLovii commented on #141
Уже не надо, нашёл, спасибо за оперативный ответ.

[2020-06-22 12:53] #141 closed, assigned to timoniq

[2020-06-23 18:40] seeyoga commented on #138
@timoniq, хотел бы уточнить будит ли решаться данный вопрос?

[2020-06-23 18:43] timoniq commented on #138
@seeyoga, Извините, не видел ваш ответ, если вы поняли в чем проблема вы можете сделать пул реквест с ее решением, или я решу сам чуть позже
Если ситуация срочная можете воспользоваться генератором Keyboard

[2020-06-23 18:56] timoniq commented on #138
Все, исправил. Извините за долгое ожидание

[2020-06-24 07:41] seeyoga commented on #138
Первый вариант генерации клавиатуры работает. Спасибо большое @timoniq  за быструю помощь. Ошибка сохраняется если использовать второй вариант.

***Мой код***

**Код клавиатуры**
[code]

**Код отправки клавиатуры**
[code]

**Ошибка**
[code]
Если оставим ковычкни  получим исключение что к Location нельзя назначить метку
[code]
Есть предположение что label к кнопки подставляеться в этой части кода,

[2020-06-24 11:09] TheLovii opened #142 "Баг"
**Опишите баг**
Теряется позиционный аргумент

**Что должно было случится**
На запрос должен сработать соответствующий хендлер без ошибок.

**Ваш код**
https://pastebin.com/hAcKgDhT

**Заполните поля:**
 - OS: Windows 10 Pro
 - Version of vkbottle: 2.7.6

**Дополнительная информация**
Код ошибки - https://pastebin.com/db1c1xdi

[2020-06-24 11:27] timoniq commented on #142
Что за ужасный код, для того чтобы обработать сообщение на не найденный хендлер нужно пользоваться
[code]

[2020-06-24 11:27] #142 closed, assigned to timoniq

[2020-06-24 11:41] TheLovii opened #143 "Баг"
**Опишите баг**
Хендлер для ответа на запросы не обрабатывающимися существующими хендлерами, отвечает на все запросы
**Что должно было случится**
@bot.on.message_handler() отвечает только на запросы не обрабатывающимися существующими хендлерами

**Ваш код**
https://pastebin.com/a18vet5Y

**Заполните поля:**
 - OS: Windows 10 Pro
 - Version of vkbottle: 2.7.6

**Дополнительная информация**
Арсений,

[2020-06-24 12:24] TheLovii commented on #142
но оно не работает....

[2020-06-24 12:27] TheLovii opened #144 "Баг"
**Опишите баг**
Хендлер с принятием аргумента вообще отказывается работать

**Что должно было случится**
Хендлер должен принять аргумент и обработать его.

**Ваш код**
https://pastebin.com/M5nDK8jj

**Заполните поля:**
 - OS: Windows 10 Pro
 - Version of vkbottle: 2.7.6
**Дополнительная информация**
Ошибка - https://pastebin.com/vLQF0uku

[2020-06-24 12:28] TheLovii commented on #144
Видимо придётся установить последний стабильный релиз.

[2020-06-24 12:29] TheLovii commented on #144
Последний стабильный релиз также выдает ошибку

[2020-06-24 12:35] axd1x8a commented on #142
Чел, иди учи питон

[2020-06-24 12:36] axd1x8a commented on #142
Код выполняется сверху вниз, хендлеры проверяются в таком же порядке

[2020-06-24 12:36] TheBakerCat commented on #142
arg = arg)

[2020-06-24 12:48] TheLovii commented on #142
пытался хоть как то найти решение проблемы перед тем, как писать Issue

[2020-06-24 12:49] TheLovii commented on #142
![image](https://user-images.githubusercontent.com/59450514/85559383-56da7980-b632-11ea-979d-ed56da628cf2.png)
Умник, специально для тебя

[2020-06-24 12:50] ghost commented on #142
И что тут не работает?

[2020-06-24 12:51] TheLovii commented on #142
https://github.com/timoniq/vkbottle/issues/144

[2020-06-24 12:58] TheLovii commented on #142
![image](https://user-images.githubusercontent.com/59450514/85560513-64443380-b633-11ea-9444-ece925583649.png)
 отлично автор решает проблемы, вместо того чтобы решать проблемы, он просто ставит "дизлайк" и продолжает заниматься какими-то делами

[2020-06-24 12:59] ghost commented on #142
Зачем ныть в issue?

[2020-06-24 13:01] TheLovii commented on #142
Я не ною, а лишь хочу сообщить умникам которые здесь собрались одну интересную информацию.

[2020-06-24 13:03] ghost commented on #142
Ты в курсе, что issue предназначены не для того, чтобы ты доносил «умникам» важную информацию о том, как тебя обидели и кто тебя там добавил в ЧС, а для того, чтобы ты кратко и ёмко изложил все необходимые сведения об ошибке для ее фикса?

[2020-06-24 13:03] timoniq commented on #142
Issue потеряло смысл, проблема не во фреймворке а в какой-то части кода автора вопроса. Закрываю комментирование за оффтоп, разжигание ненависти и неподготовленность автора к вопросу. Советую ему прочитать про [проблему XY](https://tproger.ru/explain/xyproblem/). За еще один случай вроде этого, автора ждет перманентный бан. Не будьте как он.

[2020-06-24 13:06] timoniq commented on #143
Хендлер должен быть в конце кода, пожалуйста хватит спамить issue или вы получите ограничения

[2020-06-24 13:06] #143 closed, assigned to timoniq

[2020-06-24 13:07] timoniq commented on #144
Можно было хотя бы попробывать прочитать документацию.
`@bot.on.message(text="привет <name>")`

[2020-06-24 13:07] #144 closed, assigned to timoniq

[2020-06-24 13:16] TheLovii commented on #143
![image](https://user-images.githubusercontent.com/59450514/85563503-1aa91800-b636-11ea-88e3-1e491166193c.png)
Если что

[2020-06-25 18:50] json1c opened #147 "Баг"
.

[2020-06-25 18:53] ghost commented on #147
Укажите аргумент _mobile_ в значении **True** при инициализации экземпляра класса User.

[2020-06-25 23:00] dhvcc opened #148 "Баг"
**Опишите баг**
Непоятная работа **on.chat_mention** с **on.chat_message**.

В [такой](https://pastebin.com/1nYebPuk) ситуации декоратор **on.chat_mention**, насколько могу судить, не работает.

**Что должно было случится**
**command_handler** не должен обрабатывать сообщения без упоминания группы

**Ваш код**
https://pastebin.com/1nYebPuk

**Заполните поля:**
 - OS: Windows 10
 - Version of vkbot

[2020-06-26 07:14] #147 closed, assigned to timoniq

[2020-06-26 07:44] #138 closed, assigned to timoniq

[2020-06-26 07:57] json1c opened #150 "Баг"
а

[2020-06-26 18:59] Doncode commented on #139
@timoniq проблема решена?

[2020-06-26 19:07] timoniq commented on #139
Нет, закрыл из-за неактивности. Вы пользуетесь database или обычными бранчами?

[2020-06-26 22:18] Doncode commented on #139
Обычный. без database

[2020-06-27 10:01] dhvcc opened #151 "Баг"
**Опишите баг**
likes.get_likes не возвращает поле items (возможно, другие тоже). Имея код, указанный ниже имеет такой вывод (пробовал различные посты)

![image](https://user-images.githubusercontent.com/18076967/85919629-ab216b80-b875-11ea-9cb2-5ef808d0a3e0.png)

**Что должно было случится**
Опишите ожидаемое поведение фреймворка

**Ваш код**

    result = await api.likes.get_list(type={"post" if

[2020-06-27 16:07] #151 closed, assigned to timoniq

[2020-06-27 16:10] timoniq commented on #150
Использовать многопоточность в этом случае совсем не вариант, используйте асинхронный запуск с `TaskManager`

[2020-06-27 16:10] #150 closed, assigned to timoniq

[2020-06-27 16:17] #148 closed, assigned to timoniq

[2020-06-27 18:18] json1c opened #153 "Множество акков с лонгполлом"
.

[2020-06-28 18:01] timoniq opened #154 "Новый интерфейс генератора клавиатуры"
**Запрос на возможность связан с проблемой? Если да, опишите**
Нет

**Опишите решение, которое вы бы хотели видеть**
Создавать клавиатуру за 1 строчку кода благодаря методам возвращающим объект генератора. Еще не хочется создавать первый ряд каждый раз при создании клавиатуры

**Опишите решения, которые вы временно предприняли для решения этого вопроса**
...

**[Дополнительно] Пример псевдокода**

[2020-06-29 12:51] #154 closed, assigned to nobody

[2020-06-29 18:03] json1c opened #156 "Баг"
.

[2020-07-01 06:36] timoniq commented on #139
Сделал фикс, проверяйте, обновив с мастера

[2020-07-01 06:55] timoniq commented on #156
Видимо вы запускаете на мобильном устройстве интерпретатор которого не закрывает ивент луп. Попробуйте создать новый и передать его в объект бота/юзера:
[code]

[2020-07-06 20:51] quick-wq opened #158 "Очепятка"
https://github.com/timoniq/vkbottle/blob/master/docs/framework.ru.md#%D0%B1%D0%BE%D1%82%D1%8B

вст**Р**оенная

спасибо

[2020-07-09 12:06] Doncode opened #160 "Баг [VKBottle] While parent_processor was handling error occurred"
**Опишите баг**
[code]

Возникает ошибка. Процесс продолжает работать, но бот перестает обрабатывать новые сообщения после этой ошибки

[2020-07-09 13:04] Doncode commented on #160
Проблема решилась добавлением в Enum дополнительного свойства callback
pull request https://github.com/timoniq/vkbottle/pull/161

[2020-07-09 19:35] #160 closed, assigned to timoniq

[2020-07-10 13:54] LooPeKa opened #163 "Баг"
**Опишите баг**
[code]

**Что должно было случится**
Бот отвечает ответом от messages.getById()

**Ваш код**
[Код](https://pastebin.com/7NE9mvN3)

**Заполните поля:**
 - OS: Android
 - Version of vkbottle: 2.7.4```

**Дополнительная информация**
Запускаю через Termux, но на Pydroid та же история

[2020-07-10 13:59] timoniq commented on #163
Попробуй обновится с мастера

[2020-07-10 14:01] #156 closed, assigned to timoniq

[2020-07-10 14:11] LooPeKa commented on #163
Спасибо!)

[2020-07-10 14:11] #163 closed, assigned to timoniq

[2020-07-11 11:50] #158 closed, assigned to nobody

[2020-07-11 11:51] #139 closed, assigned to timoniq

[2020-07-13 14:22] LooPeKa opened #166 "Вопрос"
Как сделать так, чтоб юзер бот отвечал в беседах?

[2020-07-13 14:22] LooPeKa commented on #166
Я пытался, не работает

[2020-07-13 14:33] core-p commented on #166
Бот отвечает на личные сообщения? Какой хендлер используете для обработки сообщений в беседе?

[2020-07-13 14:39] simonoffcc commented on #166
Всё в беседе работает. Попробуйте данный код:
[code]

[2020-07-13 14:53] axd1x8a commented on #166
Используйте @bot.on.message_handler()
Это позволяет отвечать боту и в личных сообщениях и в беседах

[2020-07-13 15:09] #166 closed, assigned to nobody

[2020-07-13 15:09] LooPeKa commented on #166
ок.

[2020-07-17 12:14] Marlinsmas opened #167 "Во время работы бота скапливается мусор"
Постоянно пишет
An open stream object is being garbage collected; call "stream.close()" explicitly.

![image](https://user-images.githubusercontent.com/49989839/87784948-4fc91480-c848-11ea-9da5-58a4d0c8bb92.png)

 - OS: [e.g. Ubuntu]
 - Version of vkbottle: latest

Свап наполняется с каждой минутой все больше

[2020-07-19 21:26] sanyk64rus opened #169 "Баг: скрипт бота стабильно работает только у меня, у других пользователей не работает"
[**Опишите](url) баг**
у меня работает как по маслу, но когда другой пользователь моего бота что-то напишет - ошибка

**Ваш код**
Ваш код скриншотом или с [pastebin](url)

**Заполните поля:**
 - окно 10
 - вкботтл 2.7.6

**Дополнительная информация**
...Traceback (most recent call last):
  File "C:\clicker\venv\lib\site-packages\vkbottle\framework\framework\swear_handler.py", line 26, in wrapper

[2020-07-19 21:30] sanyk64rus commented on #169
я думаю с самим скриптом все нормально - до этого стабильно работал, не вижу смысла код вставлять

[2020-07-19 21:53] axd1x8a commented on #169
Обновите библиотеку с github

[2020-07-20 13:41] simonoffcc opened #170 "Как обрабатывать неизвестные боту команды?"
Хочу сделать обработку сообщений, хендлеров которых нет в программе, грубо говоря команды, которые бот не знает.

Может быть я невнимательно прочитал документацию и есть какой-то конкретизированный способ это сделать, но я его не нашел. Возможно это можно сделать через обработку исключений? Если можно, то как?

Единственно до чего я додумался, так это поставить "пустой" хендлер, без аргументов, са

[2020-07-20 14:01] axd1x8a commented on #170
Это и есть решение

[2020-07-20 14:02] simonoffcc commented on #170
Понял, спасибо.

[2020-07-20 14:02] #170 closed, assigned to nobody

[2020-07-20 14:52] quick-wq commented on #170
[code]

[2020-07-20 14:59] quick-wq commented on #163
@LooPeKa не используйте vk_api, пожалуйста
В документации **vkbottle** показано, как использовать методы VK API. Это будет лучше, чем использовать не асинхронную библиотеку.

[2020-07-22 13:18] dadyarri opened #171 "Баг с клавиатурой"
**Опишите баг**
При попытке нажать любую кнопку клавиатуры из Sova V RE 0.7d (или мобильной версии сайта, firefox on android) возникает ошибка
[code]
и действие назначенное на эту кнопку не происходит

**Что должно было случит*ь*ся**
С десктопной версии сайта все работает как должно

**Ваш код**
Пример клавиатуры, не работает любая другая
[code]

**Заполните поля:**
 - OS: Manjaro Linux
 - Version

[2020-07-22 13:19] ghost commented on #171
Обновите VKBottle с мастера.

[2020-07-22 13:23] #169 closed, assigned to timoniq

[2020-07-22 13:31] dadyarri commented on #171
Благодарю

[2020-07-22 13:31] #171 closed, assigned to timoniq

[2020-07-24 06:03] ustokan opened #172 "Какая версия Longpoll API"
Подскажите пожалуйста, какую нужно использовать версию Longpool API?
Я получаю ошибку
vkbottle.utils.exceptions.VKError: (29, 'Rate limit reached', , {'group_id': 189220845})
Возможно ли это из-за версии 5.50?

[2020-07-24 06:21] TheBakerCat commented on #172
Рекомендуется ставить 5.103

[2020-07-24 06:42] ustokan commented on #172
Спасибо

[2020-07-24 06:42] #172 closed, assigned to timoniq

[2020-07-24 08:42] ustokan opened #173 "29 ошибка при запуске бота (первом)"
**Опишите баг**
При запуске бота сразу вылезает ошибка 29

**Заполните поля:**
 - OS: [Windows 10]
 - Version of vkbottle: [2.7.5]

Longpool API 5.103
![скриншот cmd](https://user-images.githubusercontent.com/55207603/88374606-a7183900-cda2-11ea-83c7-2c64d571242b.png)

[2020-07-24 08:56] TheBakerCat commented on #173
Попробуй обновиться с мастера

[2020-07-24 08:57] ustokan commented on #173
Как понять?

[2020-07-24 08:59] TheBakerCat commented on #173
​pip install https://github.com/timoniq/vkbottle/archive/master.zip --upgrade

[2020-07-24 09:01] ustokan commented on #173
Такая же ошибка
![cmd_ef80iP5JhO](https://user-images.githubusercontent.com/55207603/88376072-67068580-cda5-11ea-9a4f-cba8b1eab009.png)

[2020-07-24 09:11] timoniq commented on #173
Вы достигли какого-то лимита по запросам на вашу группу, попробуйте запустить без `skip_updates=False`

[2020-07-24 09:12] TheBakerCat commented on #173
Значит дело скорее всего в токене
![Screenshot_20200724-140846_Chrome.png](https://user-images.githubusercontent.com/49706608/88376836-9f16c400-cdb7-11ea-8e86-6f6441d9b6e7.png)

[2020-07-24 09:15] ustokan commented on #173
Создание нового токена не помогло, `skip_updates=False` убрал, тоже не помогло

[2020-07-24 09:44] #173 closed, assigned to timoniq

[2020-07-24 12:00] salieri-dev opened #174 "Вопрос. Асинхронный таймер - выполнять действие каждое N минут."
Как можно реализовать выполнение какого-то действия (в данном случае отправка сообщения в диалог) в цикле по таймеру?

[code]
Я пробывал через vkbottle.TaskManager, но ничего из этого хорошего не вышло.

В discord.py, например, это реализовано через
[code]

Спасибо.

[2020-07-24 12:05] timoniq commented on #174
Используйте TaskManager для добавления таска с циклом:

[code]

[2020-07-24 15:49] simonoffcc opened #175 "Сделал свой декоратор, есть проблема"
Для одного декоратора сообщений сделал свой собственный декоратор, для того чтобы бот отвечал только тем людям, id которых есть в списке. Остальным он отвечал "Access Denied".
Вот его код:
[code]
Он прекрасно работает, отвечает только людям в списке.
Проблема вот в чем: если боту напишет кто-то, кого нет в списке, то бот ему сначала ответит "Access Denied" (собственно, как и задумывалось), но посл

[2020-07-24 15:53] ghost commented on #175
При вызове ans используется метод **messages.send**, возвращающий число — идентификатор сообщения. Обьект, находящийся в return также используется в качестве текста сообщения.

[2020-07-24 15:53] ghost commented on #175
Советую использовать мидлвари вместо собственных декораторов. Однако, если ситуация требует использовать такие решения, то следуйте совету ниже.

[2020-07-24 15:55] axd1x8a commented on #175
Все из-за того, что вы используете `return await ans`
вы отправляете сообщение, а функция ans() возвращает его ид, который отправляется через return.
Если вам нужна отправка через ans, то вам поможет это:
await ans("text")
return

[2020-07-24 17:02] simonoffcc commented on #175
Спасибо большое, помогло.

[2020-07-24 17:03] #175 closed, assigned to nobody

[2020-07-25 15:32] #174 closed, assigned to nobody

[2020-07-30 10:40] k0zwa opened #184 "Не обрабатывается событие on.message"
Не обрабатывается событие on.message, при отправке личного сообщения боту, через мобильный клиент и/или мобильную веб-версию, через Chrome, на устройствах под управлением Android 10. Бот крутится на Long Poll, под шindoшs все хорошо и замечательно.

Не уверен за iOS, под рукой нет. Не уверен и в том, что это сильно влияет. Такие дела

[2020-07-30 10:41] timoniq commented on #184
1. Какая у вас версия VKBottle?
2. Предоставьте ваши логи если это возможно

[2020-07-30 10:55] k0zwa commented on #184
Привет, спасибо за оперативный ответ. Версия 2.7.6, могу попробовать обновиться до текущей в pip, но чуть позже - хаос деплоя. С логами тоже позже

[2020-07-30 10:58] timoniq commented on #184
2.7.6 на данный момент не работает, потому что вконтактеры все поломали добавив поле в енум для всех версий апи. Ставьте 2.7.8, там все хорошо

[2020-07-30 10:58] k0zwa commented on #184
Понял, спасибо. Уже сломал всю голову.

[2020-07-30 11:11] k0zwa commented on #184
Подтверждаю, на 2.7.8 все заработало. Еще раз спасибо, timoniq.

[2020-07-30 11:11] #184 closed, assigned to timoniq

[2020-08-02 23:19] petrarka commented on #153
Привет!
Опиши проблему подробнее.
Если ты хочешь несколько инстансов одного бота с разными токенами и эти боты не связаны между собой, то ты можешь использовать docker и передавать токен как аргумент при создании контейнера.
Если боты на разных аккаунтах должны быть связаны, то используй общую базу данных для синхронизацией между контейнерами (например redis)

[2020-08-24 11:53] simonoffcc opened #202 "Sorry"

[2020-08-24 11:54] #202 closed, assigned to nobody

[2020-08-24 11:55] timoniq commented on #202
ok bro

[2020-08-26 11:03] CrabOnTheBeach opened #203 "Bot.loop is None in new versions"
The Bot.loop in None after https://github.com/timoniq/vkbottle/commit/730c8143dcce2a25a28322a6034778d058588dcc#diff-eef9235318e8d85a06766f3daf94071f commit.

We are creating a background task by using Bot.loop.create_task. It worked fine on version 2.7.8. I think that commit https://github.com/timoniq/vkbottle/commit/730c8143dcce2a25a28322a6034778d058588dcc#diff-eef9235318e8d85a06766f3daf94071f br

[2020-08-26 11:22] timoniq commented on #203
true. it will be fixed soon in [3.0 release](https://github.com/timoniq/vkbottle/tree/v3.0), please use stable version for now. anyway pull requests are welcome

[2020-08-27 12:34] Nidelon opened #204 "Вопрос насчёт рассылки"
Возможно ли на vkbottle сделать рассылку, например я отправил боту текст или сообщение,
далее он это отошлет (Желательно что бы пересылал) в беседу и другим участникам, кто подписан на эту рассылку (Возможно ли это сделать с помощью бранчев?)
Если коротко:
1. Возможно ли пересылать сообщение тем, кто состоит в группе (С фотографией)
2. Возможно ли сделать на бранчах рассылку

[2020-08-27 12:36] Nidelon commented on #204
Ох ты, не увидел что можно создать пустой вопрос без "enhancement"

[2020-08-27 12:42] dhvcc commented on #204
Рассылку можно сделть, можно и переслать. Посмотрите доки вк
Бранчи зависят от вашего интерфейса, но можно из без них один хендлер сделать
Подписки на рассылку храните в бд, и, когда необходимо, пробегайтесь по бд и делайте `messages.send`
Фотографии тоже можно добавлять

[2020-08-27 12:43] dhvcc commented on #204
Лейблы можно снимать

[2020-08-27 12:46] dhvcc commented on #129
Ещё не пофикшено?

[2020-08-27 15:37] Nidelon commented on #204
Ага, с рассылкой понял и уже сделал, последний вопрос, возможно ли сохранить бранчи в json

[2020-08-27 15:40] Nidelon commented on #204
Заранее говорю что использую бранчи не для рассылки

[2020-08-27 16:21] timoniq commented on #204
Этот вопрос уже не относится к теме issue, но ответ - да. Смотрите database-бранчи, вам будет нужно только имплементировать методы чтения и записи вашего json файла

[2020-08-27 21:09] #204 closed, assigned to nobody

[2020-09-08 18:38] markelovstyle commented on #10
This is suitable for vkbottle 3.0. Add this issue to the v3.0 milestone

[2020-09-13 16:33] mazzz3r opened #209 "Баг"
**Опишите баг**
При создании мидлваря у юзера выскакивает ошибка `TypeError: run_middleware() got multiple values for argument 'flag'`

**Что должно было случится**
Ошибка не должна была выскакивать 🤔

**Ваш код**
https://pastebin.com/MnMvnQVQ

**Заполните поля:**
 - OS: Windows 10
 - Version of vkbottle: 2.7.11

**Дополнительная информация**
...

[2020-09-13 16:37] #209 closed, assigned to timoniq

[2020-09-13 16:39] timoniq commented on #209
А почему в одном хендлере бот а в другом юзер

[2020-09-13 16:40] mazzz3r commented on #209
Это я не тот код закинул на пастбин, отредачил ссылку. Проблема была в том, что я ретарнил true...

[2020-09-19 05:14] #129 closed, assigned to timoniq, markelovstyle

[2020-09-23 22:19] dependabot-preview[bot] opened #216 "Dependabot couldn't authenticate with https://pypi.python.org/simple/"
Dependabot couldn't authenticate with https://pypi.python.org/simple/.

You can provide authentication details in your [Dependabot dashboard](https://app.dependabot.com/accounts/timoniq) by clicking into the account menu (in the top right) and selecting 'Config variables'.

[View the update logs](https://app.dependabot.com/accounts/timoniq/update-logs/48510010).

[2020-09-25 22:17] #216 closed, assigned to nobody

[2020-10-08 11:58] Timtaran opened #218 "Баг(это не баг)"
Как распознать стикер?

Бот должен был распознать стикер.

![image](https://user-images.githubusercontent.com/60805088/95455465-5b2f6600-0987-11eb-837a-1f2becf4a68d.png)
![image](https://user-images.githubusercontent.com/60805088/95455524-7306ea00-0987-11eb-97e4-7f154e887598.png)

 - OS: windows 7 64-bit
 - Version of vkbottle: 2.7.11

[2020-10-08 12:07] hampta commented on #218
Используй StickerRule, полный список рулов тут:
https://www.github.com/timoniq/vkbottle/tree/master/vkbottle%2Fframework%2Fframework%2Frule%2Frule.py

[2020-10-08 12:08] Timtaran commented on #218
спасибо

[2020-10-08 12:09] hampta commented on #218
И ошибка у тебя тут(исправленный вариант): async def wrapper(ans: Message)

[2020-10-08 12:16] Timtaran commented on #218
уже исправил

[2020-10-09 16:31] #167 closed, assigned to timoniq

[2020-10-09 16:31] #153 closed, assigned to nobody

[2020-10-09 16:32] #203 closed, assigned to timoniq

[2020-10-11 17:45] pavelfoki opened #222 "В беседах мой бот не отвечает на сообщения, содержащие упоминания. Хочу разобраться, в чём дело. Помогите, пожалуйста"
**Опишите баг**
В беседах мой бот не отвечает на сообщения, содержащие упоминания. Хочу разобраться, в чём дело. Помогите, пожалуйста.

**Что должно было случится**
Бот должен был ответить на сообщение, содержащее упоминание.

**Ваш код**
https://pastebin.com/NJGiheG7

**Заполните поля:**
- OS: Windows 10

**Дополнительная информация**
В беседе бот является администратором, команды без упоминаний

[2020-10-11 17:46] timoniq commented on #222
Попробуйте передать `group_id` при создании бота

[2020-10-15 14:08] #222 closed, assigned to timoniq

[2020-10-17 12:12] Timtaran opened #229 "TaskManager"
Traceback (most recent call last):
  File "C:\Users\user\AppData\Local\Programs\Python\Python38\lib\site-packages\vkbottle\framework\framework\swear_handler.py", line 26, in wrapper
    return await func(*args, **kwargs)
  File "C:\Users\user\AppData\Local\Programs\Python\Python38\lib\site-packages\vkbottle\framework\bot\processor.py", line 35, in parent_processor
    return await self.message_pro

[2020-10-17 12:40] dhvcc commented on #229
Трейсбеки и код лучше на pasebin.com закидывать
Читать невозможно

[2020-10-17 12:41] dhvcc commented on #229
Есть же `on.chat_mention`

[2020-10-17 13:00] Timtaran commented on #229
все нормально работало, но не могу добавить асинхронное выполнение команды * количество пользователей в группе ВК

[2020-10-17 13:04] timoniq commented on #229
нельзя запускать таск менеджер в хендлере, таск менеджер блокирует луп
просто сделай await

[2020-10-17 13:07] Timtaran commented on #229
https://pastebin.com/pLrRgCx2
https://pastebin.com/ppqeEiBi

[2020-10-17 13:08] Timtaran commented on #229
спасибо

[2020-10-17 13:15] Timtaran commented on #229
TypeError: object dict can't be used in 'await' expression

:(

[2020-10-17 13:17] timoniq commented on #229
где код

[2020-10-17 13:19] timoniq commented on #229
`await send(b)`
а вообще, вопрос не относится к фреймворку

[2020-10-17 13:19] #229 closed, assigned to timoniq

[2020-10-19 16:39] InspectorDue commented on #10
Как это должно выглядеть в коде?
Можно где-то хранить состояние пользователя: НЕ_ВЫПОЛНЯЛ, ПОЛУЧИЛ_ЗАДАНИЕ, ВЫПОЛНИЛ_ЗАДАНИЕ.
Я не вникал в бибилиотеку vkbottle, но накидал такой пример. Надеюсь, я смог передать идею.
[code]

[2020-11-01 15:06] Marlinsmas opened #237 "conversation_message_id в messages.send"
**Опишите баг**
Не работает метод messages.edit

**Что должно было случится**
По документации вк указано, что нужно указывать conversation_message_id для исправления сообщения, но ботл пишет got an unexpected keyword argument 'conversation_message_id'

Мой код
https://pastebin.com/tGS74bJm

 - macOS
 - vkbottle-2.7.12

Если в классе MessagesEdit исправить message_id на conversation_message_id то в

[2020-11-01 15:12] axd1x8a commented on #237
Добавьте этот параметр в класс и сделайте пулл реквест

[2020-11-04 11:43] MrSmitix opened #239 "Новая возможность / Идея"
**Проблема (для v3)**
В проекте достаточно много блюпринтов, они используются для удобного разделения функционала. Работы в лс, в беседах, админские команды, системные команды, обработка эвентов от группы и т.д. Постоянно приходится копипастить рулы которые отвечают за эти команды. Выполнять дополнительные проверки.

**Опишите решение, которое вы бы хотели видеть**
Было бы не плохо каждому блюприн

[2020-11-04 11:44] timoniq commented on #239
Хорошая идея! Сделаю.
Конечно, к роутеру оно не будет привязываться

[2020-11-04 11:44] MrSmitix opened #240 "Новая возможность / Идея"
...

[2020-11-04 11:47] #240 closed, assigned to nobody

[2020-11-04 13:54] sadellie opened #241 "Не хватает event_id у Message"
**Опишите баг**
Не хватает атрибута event_id у класса Message.

**Что должно было случится**
Для messages.send_message_event_answer необходим event_id, которого нет у класса Message.

**Ваш код**
[code]
Если принтить `ans`, то видно, что мы получаем event_id.

**Заполните поля:**
 - OS: Windows
 - Version of vkbottle: 2.7.11

[2020-11-04 13:55] ghost commented on #241
Используйте `MessageEvent` из `vkbottle.types.events.events_objects` вместо `Message`.

[2020-11-04 13:57] sadellie commented on #241
Спасибо за быстрый ответ!

[2020-11-04 13:57] #241 closed, assigned to timoniq

[2020-11-05 14:12] #237 closed, assigned to timoniq

[2020-11-05 14:13] #84 closed, assigned to timoniq

[2020-11-05 14:13] #10 closed, assigned to timoniq

[2020-11-07 11:57] timoniq commented on #239
Решение теперь есть. Используйте `auto_rules`:

[code]

[2020-11-14 11:26] kforbro opened #257 "Ошибка messages.send(peer_ids)"
Сообщения отправляются, но при этом вылезает ошибка.
https://pastebin.com/54HRUT4N

ласт версия боттла

[2020-11-14 12:09] dhvcc commented on #257
Попробуй сделать тот же запрос через `api.request`

[2020-11-14 12:28] kforbro commented on #257
через api.request ошибки нет

[2020-11-14 12:41] dhvcc commented on #257
Отправь ещё, пожалуйста, вывод реквеста, что бы модель можно было поправить

[2020-11-14 13:00] kforbro commented on #257
await bot.api.request('messages.send', {'peer_ids': ','.join([str(i) for i in users]), 'message': 'text', 'random_id': 0})

{'response': [{'peer_id': 182065621, 'message_id': 4757}, {'peer_id': 527796430, 'message_id': 4758}]}

[2020-11-14 13:05] Timtaran opened #258 "Баг"
Код:
https://pastebin.com/PEeag1pJ
Ошибка:
https://pastebin.com/uCQqnX1S

[2020-11-14 13:07] dhvcc commented on #258
Версия ботла?

[2020-11-14 13:09] dhvcc commented on #258
Вы забыли поставить запятую в кортеже, ведь у вас 1 элемент
Обычная запись `1 == (1)`, но при том `1 != (1,)`

[2020-11-14 13:12] Timtaran commented on #258
3.0

[2020-11-14 13:13] Timtaran commented on #258
Спасибо

[2020-11-14 13:13] #258 closed, assigned to nobody

[2020-11-14 19:02] Timtaran opened #259 "Баг: bot.run_polling()"
RuntimeWarning: coroutine 'start_bot' was never awaited
  start_bot()
RuntimeWarning: Enable tracemalloc to get the object allocation traceback

await asyncio.sleep(1) не будет глушить
RuntimeWarning: coroutine 'start_bot' was never awaited
  start_bot()
RuntimeWarning: Enable tracemalloc to get the object allocation traceback

Делал с blueprint, сейчас все в одном файле
https://pastebin.com/D1A3t

[2020-11-14 19:04] timoniq commented on #259
`run_polling` - асинхронная функция
если вы хотите чтобы библиотека сама создала луп и запустила в нем бота используйте `bot.run_forever()`

[2020-11-14 19:06] dhvcc commented on #259
Наверное, стоит сначала в написать беседу или флудилку

[2020-11-14 19:06] Timtaran commented on #259
в таком случае asyncio.sleep() глушит код, как time.time()

[2020-11-14 19:07] timoniq commented on #259
ну и бред, с чего вы это взяли?

[2020-11-14 19:07] Timtaran commented on #259
у меня бьыла такая же ситуация, мне говорили что нужен bot.run_forever().

[2020-11-14 19:09] timoniq commented on #259
создавайте таск тогда:
[code]

[2020-11-14 19:09] Timtaran commented on #259
https://vk.com/timtaran_yt?z=video549204433_456239437

[2020-11-14 19:14] #259 closed, assigned to timoniq

[2020-11-16 13:11] Ne0shka opened #261 "Баг: ServerDisconnectedError (aiohttp)"
**Опишите баг:** Через сутки после запуска бот упал и уже не реагировал на команды

**Ожидаемое поведение:** Продолжение работы после ServerDisconnectedError

**Фактическое поведение:**
`Task exception was never retrieved`
`future: <Task finished name='Task-1' coro=<Bot.run_polling() done, defined at /home/neoshka/.local/lib/python3.8/site-packages/vkbottle/framework/bot/bot.py:56> exception=Serve

[2020-11-16 14:07] #257 closed, assigned to nobody

[2020-11-18 18:28] timoniq commented on #261
Баг точно воспроизводится на последних версиях с мастера?

[2020-11-18 18:31] #261 closed, assigned to timoniq

[2020-11-19 07:55] Timtaran opened #263 "Предложение:"
Даня Репин

Даня Репин  12:51
Передайте Сене, чтобы он мидлвеир закинул в папку, а не в корень экземпла
а то тегать его страшно
Передайте Сене, чтобы он мидлвеир закинул в папку, а не в корень экземпла
так напиши это в основной чат как предложение?
Даня Репин
я там не сижу
просто уже сколько времени он там лежит

**Пример псевдокода (опционально):**

[code]

[2020-11-19 07:58] dhvcc commented on #263
Что это? Почему нельзя нормально описать?

[2020-11-19 08:00] Timtaran commented on #263
Как добавить лейбл "инвалиид"?

[2020-11-19 08:02] dhvcc commented on #263
Только Сеня может лейблить

Просто поправь описание и пускай висит ишью

[2020-11-19 08:13] #263 closed, assigned to nobody

[2020-11-19 12:50] #239 closed, assigned to nobody

[2020-11-29 11:28] ne-skazhu opened #265 "Ошибка 'NoneType' object has no attribute 'dict' при вызове update.object.message.dict()"
https://github.com/timoniq/vkbottle/blob/05fd1173da756c971bfbcd7227aaf7fbe34a92df/vkbottle/tools/dev_tools/mini_types/bot/message.py#L56

Привет! Только начал изучать твоего бота, при стандартном запуске из readme после отправки в группу нового сообщения в консоли появляется ошибка
2020-11-29 14:19:29.254 | ERROR    | vkbottle.exception_factory.error_handler.error_handler:handle:72 -
Traceback (mo

[2020-11-29 11:33] Ne0shka commented on #265
Используйте версию Python ниже 3.9

[2020-11-29 11:35] timoniq commented on #265
Какая версия api стоит в настройках группы?

[2020-11-29 11:36] ne-skazhu commented on #265
Нашел проблему, в настройках группы стояла версия api 100, а у вас 103. Прошу прощения за беспокойство)

[2020-11-29 11:36] #265 closed, assigned to nobody

[2020-12-01 14:04] lintery opened #268 "Сломаны типы у API.wall.get"
![6qHqfANiIyk](https://user-images.githubusercontent.com/60360956/100750539-3c81a480-33f7-11eb-9b5b-7f99068eaca7.jpg)

[2020-12-01 14:06] Timtaran commented on #268
а разве не [0].items ?

[2020-12-01 14:08] lintery commented on #268
![image](https://user-images.githubusercontent.com/60360956/100750949-c9c4f900-33f7-11eb-9c55-5250e8fd9b8f.png)

[2020-12-05 09:19] Ne0shka opened #269 "Баг: Некорректный вывод данных API после обработки"
**Опишите баг:**
При API запросе messages.getСonversationsById бот получает данные, но они тут же переопределяются.
Бот является администратором беседы.

**Ожидаемое поведение:** Бот получает полные данные диалога (в моём случае - беседы)

**Фактическое поведение:** https://pastebin.com/AZx2f2ib

**Ваш код (опционально)**: https://pastebin.com/Vu3CTc7d

**Заполните поля технической информации:**

[2020-12-05 16:08] ghost opened #270 "Баг: неправильная типизация VBMLRule"
`VBMLRule.check` должен возвращать `bool`. Но он может вернуть результат `vbml.Patcher.check`.

(Из реализации `vbml.Patcher.check`:

`def check(
        self, pattern: Pattern, text: str, ignore_validation: bool = False
    ) -> typing.Optional[typing.Union[typing.Dict[typing.Any, typing.Any], bool]]:`

Может возвращаться не только `bool`, как видите

[2020-12-05 16:27] ghost opened #271 "MessageView неэффективно работает с StateDispenser"
`MessageView` запрашивает `StatePeer` у `StateDispenser`, даже если обработчик не пытается достать `event.state_peer`.
Что если StateDispenser обращается к базе данных? Тогда при **КАЖДОМ** сообщении будет отправляться запрос к базе данных, даже если в этом нет необходимости.

**Возможное решение по оптимизации**
Сделать вложенный класс с методом `__getattr__`, чтобы запрос к StateDispenser отправ

[2020-12-07 11:12] #269 closed, assigned to timoniq

[2020-12-08 18:10] #268 closed, assigned to timoniq, krilifon

[2020-12-10 05:10] timoniq commented on #270
это можно решить в pr #274 заменив неправильный `-> bool` на `-> Union[dict, bool]` во всех рулзах

[2020-12-10 12:17] 0dminnimda commented on #270
в настоящее время используется [актуальные тайпхинтинги][1]

  [1]: https://github.com/timoniq/vkbottle/blob/634dad04e907582db89aef5faec6cffecd7d276b/vkbottle/dispatch/rules/bot.py#L69

[2020-12-10 12:52] #270 closed, assigned to timoniq

[2020-12-10 22:12] #126 closed, assigned to timoniq

[2020-12-14 18:42] JarKz opened #281 "Не срабатывается ChatActionRule()"
При использовании простого хенлера:

[code]

Не возрващается ответ "Hi" в чат, где бота приглашали.

И, как проверить работает ли ChatActionRule()?

[2020-12-14 18:47] markelovstyle commented on #281
Где ты проверяешь этот рулз? В обычном чате или в чате от сообщества?

[2020-12-14 19:50] JarKz commented on #281
Вопрос был "как проверить, работает ли ChatActionRule()", то есть я не особо понимаю то, как правильнее проверять и что необходимо делать.

[2020-12-15 09:02] Timtaran opened #283 "Баг: не работает PhotoUploader + BluePrints"
**Ожидаемое поведение:**
Отправка изображения пользователю.
**Фактическое поведение:** ...
Ошибка.
https://pastebin.com/AXC3euPx
**Ваш код (опционально)**: ...
https://pastebin.com/fN6iSd8c

**Заполните поля технической информации:**

---
vkbottle: 3.0 uploaders
vkbottle-types: 0.1.21(как я помню)
OS: Windows 7

---

[2020-12-15 09:02] #283 closed, assigned to timoniq

[2020-12-15 09:05] timoniq commented on #283
в ошибке написано в чем проблема. для работы аплоадеров необходим модуль aiofiles. установите его

```pip install aiofiles```

[2020-12-15 09:06] markelovstyle commented on #281
Ты сначала на мой вопрос ответь, а потом уже я отвечу на твой.

[2020-12-15 09:08] Timtaran commented on #283
В беседе уже написали. :)

[2020-12-15 09:20] Ne0shka commented on #281
Я в беседе ещё писал - включи дебаг

Какая версия vkbottle?

[2020-12-15 09:29] JarKz commented on #281
Я включал дебаг, ни одной ошибки не обнаружилось, и к тому же в логах, при работе бота и при срабанывании ивента (приглашаю юзера в чат), пишется, что хендлер блочится (тот, который чат акшин рулз), то есть уже проинициализирован.

Версия vkbottle 3.0

[2020-12-15 09:31] JarKz commented on #281
В обычном чате

[2020-12-16 06:24] Timtaran opened #285 "Предложение: запись логов в файл и возможность выводить свои логи."
Звучит странно :)
**Описание функциональности:**
Возможность записи логов в файл, вывод логов:
Если использовать```from loguru import logger```, то иногда возникает ошибка.

[2020-12-16 06:41] timoniq commented on #285
какая ошибка

[2020-12-16 06:44] Timtaran commented on #285
не помню, пока что не возникает :)

[2020-12-16 06:44] #285 closed, assigned to nobody

[2020-12-16 16:32] JarKz commented on #281
Проблема была решена переходом на другую ОС, полагаю, что он не срабатывался из-за того, что я запускал бот на Windows.

[2020-12-16 16:32] #281 closed, assigned to timoniq

[2020-12-16 17:42] Timtaran opened #286 "Баг: Не работает bot.labeler.vbml_ignore_case = True."
**Опишите баг:** ...
Описан
**Ожидаемое поведение:** ...
Бот будет игнорить регистр
**Фактическое поведение:** ...
Бот не игнорит регистр
**Ваш код (опционально)**: ...
[code]

[2020-12-16 17:46] timoniq commented on #286
код оформлен ужасно, но могу предположить что флаг установлен после хендлеров когда должен до

[2020-12-16 17:50] Timtaran commented on #286
![image](https://user-images.githubusercontent.com/60805088/102386561-034d5500-3ff1-11eb-8da1-e6e0208232d2.png)
тоже не работает

[2020-12-16 17:51] #286 closed, assigned to timoniq

[2020-12-16 17:52] timoniq commented on #286
ну вот как всегда нужно догадываться в чем проблема
блупринты имеют свой локальный labeler и флаги таким образом не наследуются
установите флаг в каждом из блупринтов где он нужен

[2020-12-21 12:39] #218 closed, assigned to timoniq

[2020-12-22 15:30] Niklss opened #292 "Баг: pydantic.error_wrappers.ValidationError: 2 validation errors for Message. В pydantic.Model не прописаны все client_info"
**Опишите баг:** В pydantic model отсутсвуют поля у client_info ["intent_subscribe", "intent_unsubscribe"] которые приходят с vk

**Ожидаемое поведение:** pydantic serializer пропускает все поля приходящие с vk

**Фактическое поведение:**
[code]
---
vkbottle: 3.0
vkbottle-types: 0.1.18
OS: Ubuntu20.04

---

[2020-12-22 15:34] TheBakerCat commented on #292
Обновите vkbottle-types с мастера.

[2020-12-22 16:07] Niklss commented on #292
Сработало - ```pip install -U https://github.com/timoniq/vkbottle-types/archive/master.zip```

[2020-12-22 16:07] #292 closed, assigned to timoniq

[2020-12-28 17:04] Timtaran opened #296 "Предложение: вернуться."
Арсений, вернись пожалуйста в токсичных котиков.

[2020-12-28 17:06] #296 closed, assigned to nobody

[2021-01-15 06:33] awoska opened #303 "Проблема при установке vkbottle 3"
Выполняю команду `pip install -U https://github.com/timoniq/vkbottle/archive/master.zip`
И получаю такой лог:
`Installing build dependencies ... error                                                                                                                                                                            ERROR: Command errored out with exit status 1:

[2021-01-15 11:08] #303 closed, assigned to nobody

[2021-01-15 11:08] awoska commented on #303
Установил python 3.7 и проблема решилась.

[2021-01-19 08:59] Nidelon opened #304 "Вопрос: Есть ли в vkbottle 3.0 PhotoUploader?"
Есть ли в vkbottle 3.0 PhotoUploader? Если есть, то как использовать?

[2021-01-19 09:52] dhvcc commented on #304
@Nikitka12XD https://github.com/timoniq/vkbottle/pull/255

[2021-01-19 10:59] Nidelon commented on #304
Спасибо за помощь, но я уже сам портировал эту функцию со 2 версии на 3 (Видать зря)

[2021-01-19 10:59] #304 closed, assigned to timoniq

[2021-01-20 01:02] barsikus007 opened #305 "Баг: pydantic.error_wrappers.ValidationError:1 validation error for SendUserIdsResponse. В pydantic.Model не прописан response при вызове с user_ids"
**Опишите баг:**
`Traceback (most recent call last):
  File "C:\Users\Admin\PycharmProjects\PostBot\venv\lib\site-packages\vkbottle\exception_factory\error_handler\error_handler.py", line 60, in wrapper
    return await func(*args, **kwargs)
  File "C:\Users\Admin\PycharmProjects\PostBot\blueprints\commands.py", line 27, in tst
    await message.ctx_api.messages.send(message='Выберите одну из кома

[2021-01-20 01:06] barsikus007 commented on #305
#vkbottle-types @vkbottle-types думаю как-то так

[2021-01-20 03:09] Timtaran commented on #305
https://vk.com/dev/messages.send - нет user_ids, используйте peer_ids

[2021-01-20 11:23] barsikus007 commented on #305
забавно, в самой документации user_ids нет, а снизу в "Пример запроса" есть
вк...

[2021-01-20 17:05] Timtaran opened #306 "Баг: DocMessagesUploader - VKAPIError [100]"
**Ожидаемое поведение:**
отправка файла администратору

**Фактическое поведение:**
abc.CodeErrorFactory_100: [100] One of the parameters specified was missing or invalid: peer_id is required for community messages

**Ваш код (опционально)**: ...
`await message.answer(attachment=await doc_uploader.upload(path_like='db.txt', title='Ну типо база данных', peer_id=549204433))`

**Заполните поля техниче

[2021-01-20 17:21] timoniq commented on #306
`answer` не принимает `peer_id`, для отправки сообщения человеку который никак не относится к ивенту есть `api.messages.send`

[2021-01-20 17:25] Timtaran commented on #306
но ведь ошибка связана с аплоадером...

[2021-01-20 17:33] Timtaran commented on #306
Для тех, кто напишет что ошибка не в аплоадере:
Измененный код:

document = await doc_uploader.upload(path_like='db.txt', title='Ну типо база данных', peer_id=549204433)
await message.ctx_api.messages.send(peer_id=549204433, random_id=0, attachment=document)
Ошибка:
[code]

[2021-01-20 17:40] timoniq commented on #306
нужно было сразу кидать полный трейс, из первоначально описанного поведения не ясно в каком месте возникает ошибка

[2021-01-20 17:49] timoniq commented on #306
у вас стоит старая версия, это уже фиксилось вот здесь - [387e388](https://github.com/timoniq/vkbottle/pull/255/commits/387e388611f63a487cd05a06396c2b34eeb3919c)

[2021-01-20 18:03] #306 closed, assigned to timoniq

[2021-01-27 12:30] Timtaran commented on #305
Там есть, если нажать на показ устаревших параметров.

[2021-02-27 09:03] Timtaran opened #314 "Баг: abc.CodeErrorFactory_1: [1] Unknown error occurred"
**Опишите баг:** ...
Не работает загрузка изображение BytesIO
**Ожидаемое поведение:** ...
Бот отправит изображение.
**Фактическое поведение:** ...
https://pastebin.com/U7kA2fMM
abc.CodeErrorFactory_1: [1] Unknown error occurred
**Ваш код (опционально)**:
https://pastebin.com/1mSrCBji
**Заполните поля технической информации:**
---
vkbottle: v3-uploaders
vkbottle-types: 0.1.24
OS: Windows 7

---

P

[2021-02-27 11:15] timoniq commented on #314
скорее всего были сгенерированы невалидные байты из `PIL`, попробуйте сделать `seek(0)` или посмотреть на формат/флаги файла, по умолчанию это `jpg`

если проблема не решается, постарайтесь предоставить больше данных

[2021-02-27 11:25] Timtaran commented on #314
`abc.CodeErrorFactory_100: [100] One of the parameters specified was missing or invalid: photos_list is invalid`

[2021-02-27 11:37] Timtaran commented on #314
`seek(0)` возвращает `None`,
`server` - `{'album_id': -64, 'upload_url': 'https://pu.vk.com/***/***/upload.php?act=do_add&mid=-***&aid=-64&gid=0&peer_id=-202897716&rhash=***&api=1&method=message&mailphoto=1&server=***&_origin=https%3A%2F%2Fapi.vk.com&_sig=***', 'user_id': 0, 'group_id': 202897716}`,
`data` - `b''`
`file` - `<_io.BytesIO object at 0x00000000053A0180>`
`uploader` - `{'server': ***,

[2021-02-28 06:06] timoniq commented on #314
что такое `data`?

[2021-02-28 06:14] Timtaran commented on #314
В классе сделал logger.info для каждой переменной, во время отправки изображения.

[2021-02-28 08:01] timoniq commented on #314
а generate вообще возвращает валидные байты? прочитайте их, может быть они пустые вообще

[2021-03-04 12:25] InspectorDue opened #315 "Suggestion on how to improve the token_generator/consistent.py"
[code]

I would use itertools.cycle instead of calculating index

[code]

[2021-03-04 12:43] timoniq commented on #315
Pull requests are welcome!

[2021-03-04 12:43] #314 closed, assigned to timoniq

[2021-03-22 20:35] #315 closed, assigned to nobody

[2021-03-25 16:02] Ne0shka opened #319 "Предложение: Авторизация в юзере"
**Описание функциональности:** Добавить авторизацию по логину/паролю у юзера в PR #310

[2021-03-28 14:52] PyYakro opened #320 "Баг: AttributeError: type object 'Patcher' has no attribute 'get_current'"
**AttributeError: type object 'Patcher' has no attribute 'get_current'**
Полный скрин ошибки: https://prnt.sc/10y63ew

Все должно работать ок

**Нифига не робит**

Код:
from vkbottle import Bot, Message
bot = Bot(token)
@bot.on.message(text="My name is <name>", lower=True)
async def wrapper(ans: Message, name):
    await ans("Hello, {}".format(name))
bot.run_polling()

--------------
vkbottle==2.7

[2021-03-28 14:53] timoniq commented on #320
Поставьте `vbml` версии `0.5.93`

[2021-03-28 15:02] ghost commented on #320
И `text` исправь на `My name is <name>` 🙃

[2021-03-28 17:15] #320 closed, assigned to timoniq

[2021-04-02 12:15] Er1one commented on #319
Политика ВКонтакте запрещает такое и сразу банит

[2021-04-02 12:42] Ne0shka commented on #319
Прошу не вводить в заблуждение. ВКонтакте не запрещает такое, а лишь ограничивает. Банов же (на моей памяти) за это не было.

_Источник: https://vk.com/dev/auth_direct_

[2021-04-19 22:47] bekhruzdilshod opened #326 "Баг: Ошибка установки библиотеки"
**Опишите баг:** Во время скачивания и сборки библиотеки с помощью команды pip install -U https://github.com/timoniq/vkbottle/archive/master.zip

**Ожидаемое поведение:** Успешная установка библиотеки

**Фактическое поведение:** ERROR (https://pastebin.com/8CKB8wLa)

**Ваш код (опционально)**:
pip install -U https://github.com/timoniq/vkbottle/archive/master.zip

---
vkbottle: -
Python: 3.7.7
OS:

[2021-04-19 22:50] ronmount commented on #326
Накати 3.8.5 и повтори, вроде должно быть ок.

[2021-04-19 22:54] axd1x8a commented on #326
У вас ошибка синтаксиса в системном пакете. Исправьте или переустановите его.

[2021-04-20 09:16] dhvcc opened #328 "Предложение: рефактор Middleware"
**Описание функциональности:**

На данный момент, `middleware` возвращает значение `None/MiddlewareResponse(False)/...` и этим определяет, будет ли выполняться дальнейший хендлинг или нет. Я предлагаю сделать более стандартизированный и понятный интерфейс

Мы имеем дело с `HTTP` и веб технологиями, поэтому это предложение основывается реализациях популярных веб-фреймворков

1. `Middleware` должен

[2021-04-20 12:06] ghost commented on #328
PR'ы приветствуются 😉

[2021-04-20 20:23] bekhruzdilshod commented on #326
Это как, прошу прощения?

[2021-04-20 20:36] ghost commented on #326
попробуй `pip uninstall uuid` (https://github.com/bigchaindb/bigchaindb/issues/1848)

[2021-04-21 21:10] dhvcc commented on #328
@timoniq

[2021-04-22 04:17] timoniq commented on #328
спасибо, идея хорошая, вот предлагаемый мной вариант синтаксиса:

[code]

[2021-04-22 06:56] dhvcc commented on #328
Окей, как будет время попробую что-то накидать

[2021-05-01 15:52] #328 closed, assigned to timoniq

[2021-05-01 16:33] monosans opened #335 "Баг: AttributeError: 'MessageView' object has no attribute 'middleware_instances'"
**Опишите баг:** баг появился в c6ebefbf95672ebc39a4ca780ab20157792c4bbc, в предыдущем коммите его не было.

**Ожидаемое поведение:** вывод полученного сообщения в терминал

**Фактическое поведение:** https://pastebin.com/NpFLKFM9

**Ваш код (опционально)**: https://pastebin.com/EM4GdgKz

**Техническая информация:**

---

vkbottle: c6ebefbf95672ebc39a4ca780ab20157792c4bbc
vkbottle-types: 0.1.24
OS

[2021-05-01 16:39] dhvcc commented on #335
Быстро же (:

[2021-05-01 16:46] #335 closed, assigned to timoniq

[2021-05-02 10:41] #326 closed, assigned to timoniq

[2021-05-06 13:53] dhvcc opened #338 "Предложение: Autoflake"
**Описание функциональности:** Добавить `autoflake` как дев зависимость, для обработки импортов в помощь `isort`

`isort` сам по себе не может удалять неиспользованные импорты, `autoflake` может

[2021-05-06 14:03] dhvcc commented on #338
@timoniq
Эти импорты ведь не нужны? Я помню, что помимо инитов есть `bot.py` из которого не нужно удалять импорты, эти файлы такие же?
![image](https://user-images.githubusercontent.com/18076967/117311491-e5dc3300-ae8c-11eb-80ec-ef5481d408ee.png)

[2021-05-06 14:05] timoniq commented on #338
Нет, это лишние импорты

[2021-05-07 14:32] Timtaran opened #339 "Баг: Неполная модель"
Модель немного отличается от оригинальной(надо получить id поста группы)

**Ожидаемое поведение:** ...
{"ts":"353","updates":[{"type":"wall_repost","object":{"id":2058,"from_id":549204433,"owner_id":549204433,"date":1620397707,"post_type":"post","text":"","copy_history":[{"id":9,"owner_id":-,"from_id":-,"date":1620396744,"post_type":"post","text":"Скоро будет доступен бонус за репост!","post_sourc

[2021-05-07 15:06] timoniq commented on #339
будет исправлено в следующем релизе `vkbottle-types`, пока можете поставить` dataclass=dict` и не использовать проблемную модель

[2021-05-07 15:55] Timtaran commented on #339
Спасибо.

[2021-05-08 06:11] Timtaran commented on #314
Только сейчас руки дошли заного чекнуть, поменял функцию при записи в файл все ок при загрузке фото:
`photo = await PhotoMessageUploader(bot.api).upload(img.read(), peer_id=2000000001)` - `abc.CodeErrorFactory_100: [100] One of the parameters specified was missing or invalid: photos_list is invalid`
`photo = await PhotoMessageUploader(bot.api).upload(img, peer_id=2000000001)` - `abc.CodeErrorFacto

[2021-05-11 14:54] Ne0shka commented on #314
А ты что в upload вообще пихаешь? Дебажь
Аплоаду надо file_path кидать (местоположение файла), а не сам файл

[2021-05-23 15:27] Timtaran opened #342 "Баг: Ошибка в аплоадере"
venv\lib\site-packages\vkbottle\tools\dev_tools\uploader\video.py, line 33, in upload
    return self.generate_attachment_string("video", video["owner_id"], video["id"])
значения video - {'video_hash': '5b3d4a3e0285362171', 'size': 21966892, 'owner_id': 549204433, 'video_id': 456239777}

---
vkbottle: 3.0
vkbottle-types: 0.1.24
OS: Windows 7

---

[2021-05-23 15:34] Timtaran commented on #342
Контрибутить не умею нормально, да и темболее у меня версия с юзерботом)

[2021-05-23 15:45] Ne0shka commented on #342
Не понятно, что вы ожидаете с такой ишшуей
Есть шаблон, попробуйте отредактировать по нему:

![image](https://user-images.githubusercontent.com/37632288/119267374-54482180-bbff-11eb-8f95-2712769155bc.png)

[2021-05-23 16:37] #342 closed, assigned to timoniq

[2021-05-25 15:32] dhvcc opened #344 "Предложение: тесты по модулям"
На данный момент тесты только в корне

Я предлагаю тесты переносить в соответствующие им модули. Нам нужно тестировать не только конструкции и их работу, а и основные куски кода (не только `ABCView`, но и `MessageView`)
Не совсем удобно, когда все тесты в корне. Можно оставить там фикстуры и базовые тесты

**Так тесты не будут попадать в билд** ([референс](https://python-poetry.org/docs/pyproject/

[2021-05-25 16:51] timoniq commented on #344
я так понимаю предлагается переместить тесты в папку модуля? а что дальше? ексклюдить их при установке модуля? или пользователь будет тащить вместе с библиотекой тесты?

[2021-05-25 17:35] dhvcc commented on #344
Ну именно эксклюд нужно поресерчить, как это лучше сделать. В любом случае не нужно тесты в билд
Я пока ишью создал больше что бы не забыть, ну и пока обсудить возможные выходы

[2021-05-26 04:47] timoniq commented on #344
есть примеры либ на питоне которые так делают?

[2021-05-26 05:00] timoniq commented on #344
а что конкретно неудобно? тесты в корне - стандартная практика

[2021-05-26 06:00] #339 closed, assigned to timoniq

[2021-05-26 06:43] dhvcc commented on #344
Этого не знаю, я говорил относительно коммерческих проектов. В любом случае там тоже билдится и выходит без тестов

[2021-05-26 06:55] dhvcc commented on #344
Дело не в практике. Вот я работаю в модуле `handling` и что бы прогнать его тесты, я прогоняю только его папку `tests`. Мне не нужно заходить в корень и там искать подходящие тесты

Чем больше тестов, тем сложнее будет их искать. Тем более не хранить же все файлы тестов в одной папке. Нужно будет как-то там разделять и тут 2 выхода:
- добавлять новую структуру папок, в которой труднее будет найти

[2021-05-26 07:10] timoniq commented on #344
с этим проблем будет меньше, я за

[2021-05-26 12:25] dhvcc commented on #344
@timoniq обновил описание, описал как эксклюдить тесты. Всё таки поддерживаются вайлдкарды, это отлично
Билд с таким эксклюдом уже протестил вручную

[2021-05-27 13:36] #305 closed, assigned to timoniq

[2021-06-03 10:23] #344 closed, assigned to nobody

[2021-06-03 10:24] #338 closed, assigned to nobody

[2021-06-03 10:59] dhvcc commented on #271
@van-burgerberg можешь уточнить, пожалуйста, что есть `state_peer`? Он меняется от сообщения к сообщению?

[2021-06-03 11:29] timoniq commented on #271
https://github.com/timoniq/vkbottle/blob/669e417aea0b2317088f72eda5630a25f944bc5d/vkbottle/dispatch/views/bot/message.py#L39

[2021-06-03 11:43] dhvcc commented on #271
Это я видел, я имею в общем его предназначение. Важно то, будет ли он меняться от эвента к эвенту

[2021-06-03 11:54] timoniq commented on #271
ну да, может, это ведь стейт

[2021-06-03 11:58] dhvcc commented on #271
@timoniq а в пределах хенделров может меняться, нужен ридонли?

[2021-06-03 12:04] timoniq commented on #271
1) может
2) запись в него = запрос к бд

[2021-06-03 12:43] dhvcc commented on #271
Сначала думал про [такой пропетри](https://stackoverflow.com/questions/36666151/asynchronous-property-setter), но, там, в стейт диспенсере не совсем такая логика, так что мои полномочия тут всё

Так же не совсем понимаю как переопределять `__getattr__`, если он должен быть асинк

[2021-06-10 08:36] kforbro opened #356 "vkbottle-types Баг: Ошибка валидации messages.send(peer_ids=)"
**Опишите баг:** Ошибка валидации messages.send(peer_ids=)

**Фактическое поведение:** https://pastebin.com/E2DVs4SW

**Ваш код (опционально)**:
![image](https://user-images.githubusercontent.com/39985355/121492569-a5b62600-c9df-11eb-8bfa-95dc3f613bbc.png)

**Заполните поля технической информации:**
---
vkbottle @ https://github.com/timoniq/vkbottle/archive/master.zip
vkbottle-types @ https://gith

[2021-06-10 08:44] axd1x8a commented on #356
Здравствуйте, можете предоставить ответ сервера?

[2021-06-10 09:00] kforbro commented on #356
Здравствуй

[code]

[2021-06-10 09:06] axd1x8a commented on #356
Спасибо, сейчас исправлю

[2021-06-10 15:02] axd1x8a commented on #356
Обновите vkbottle-types с мастера
`pip install -U https://github.com/timoniq/vkbottle-types/archive/refs/heads/master.zip`

[2021-06-10 16:16] #356 closed, assigned to timoniq

[2021-06-10 19:36] MikhaelMIEM opened #357 "Баг: баг в hello world из README"
**Опишите баг:**
Запускаю код из README, выглядит так:
[code]
Посылаю любое сообщение в личку группы, получаю:
<img width="882" alt="eerror" src="https://user-images.githubusercontent.com/45197684/121585676-864ce680-ca3b-11eb-9716-6d7c30034897.PNG">

Внутрь в код не лез

**Версии:**
---
vkbottle: 3.0.2
vkbottle-types: 5.131
OS: Windows 10

---

[2021-06-10 19:45] axd1x8a commented on #357
Что-то очень странное, вы пробовали обновится с мастера?
Если нет, то попробуйте, заодно обновите и vkbottle-types.

[2021-06-10 19:49] axd1x8a commented on #357
Ещё проверьте версию апи в настройках группы, она должна быть не меньше 5.103, но желательно выбрать последнюю.

[2021-06-10 20:34] MikhaelMIEM commented on #357
И правда, по дефолту стояла старая версия апи (5.50). После изменения версии апи на последнюю всё заработало =)
Есть ли возможность сделать информативное сообщение об ошибке в случае использования старых версий апи?

[2021-06-10 20:52] axd1x8a commented on #357
Есть вариант ставить последнюю версию при запуске, но это нужно обсудить с автором.

[2021-06-11 08:12] dhvcc commented on #357
Лучше перенеи дев ветку на 5.130 типы и АПИ. Это нужно сделать, но я не могу уже

[2021-06-25 07:49] lightmanLP opened #361 "Добавить перегрузку побитовых и/или соответствующими фильтрами для правил"
**Описание функциональности:** ...
Добавить возможность использования фильтров при помощи побитовых операторов.

**Пример псевдокода (опционально):**
[code]

[2021-06-27 14:00] axd1x8a commented on #361
Вы можете использовать `set` и `tuple` для `OrFilter` и `AndFilter`
[code]

[2021-06-28 08:53] #361 closed, assigned to nobody

[2021-07-03 12:50] #357 closed, assigned to timoniq

[2021-07-03 13:15] Siero2017 opened #365 "Баг: {при запросах get_ads_layout}"
**Опишите баг:** когда я обращаюсь к к рекламному кабинету через get_ads_layout у меня выходит ошибка 390 validation errors for GetAdsLayoutResponse. все обязательные параметры я соблюдал

**Ожидаемое поведение:** массив с описанием рекламных обьявлений

**Фактическое поведение:** возвращает исключение(боль и страдания)
                                                 response -> 0 -> preview_link

[2021-07-03 13:17] axd1x8a commented on #365
Можете предоставить ответ сервера?

[2021-07-04 05:14] #365 closed, assigned to timoniq

[2021-07-13 23:55] BoberMod opened #367 "Предложение: общий blueprint для пакета"
**Описание функциональности:** есть большое количество хендлеров, часть из них доступна только для админов, часть только в ЛС, часть только в общих чатах. Можно было бы сделать 3 файла для каждого из перечисленных кейсов, но:

1. при большом кол-ве хендлеров получается нечитаемая мешанина
2. при разбитии на несколько файлов в каждом из них надо создавать блюпринт

Я решил сделать под каждый тип (Л

[2021-07-14 00:04] axd1x8a commented on #367
А зачем вам этот способ добавления блупринтов?
Просто импортируйте их в главный файл и сделайте так: `bp.load(bot)`

[2021-07-14 00:06] axd1x8a commented on #367
Данный способ нужен, когда у вас в папке множество модулей, а в каждом из них свой блупринт.

[2021-07-14 22:13] BoberMod commented on #367
Проблема в том, что я хочу разделить по модулям, в каждом из которых есть свой блюпринт. Этот блюпринт мне нужен в нескольких файлах в модуле. Чтобы не создавать их каждый раз, я хочу вынести создание блюпринта в отдельный файл и заимпортить его в файлы внутри модуля.
НО т.к. мой файл с инитом блюпринта это `__init__.py`, то он игнорируется регуляркой внутри `load_blueprints_from_package`. Как вор

[2021-07-14 22:16] axd1x8a commented on #367
Да, объявлять что-либо в `__init__.py` не совсем правильно.

[2021-07-25 11:31] ghost opened #371 "Проблема: Не запускается код, ошибка в импорте"
Здравствуйте, скачал библиотеку, при использовании импорта из примера выдаёт ошибку:
![image](https://user-images.githubusercontent.com/87802281/126897457-e6b69833-12c4-47d3-bbab-7bffa56f8c37.png)

Вот ссылка на пример по которому запустил код:
https://vkbottle.readthedocs.io/ru/latest/tutorial/first-bot/#_3

vkbottle @ https://github.com/timoniq/vkbottle/archive/master.zip
---
vkbottle==3.0.2
vkb

[2021-07-25 11:43] ghost commented on #371
Укажите версию питона

[2021-07-25 12:57] ghost commented on #371
Python 3.7.1

[2021-07-25 13:15] ghost commented on #371
Возможно связано: https://github.com/ipfs-shipyard/py-ipfs-http-client/issues/235
Попробуйте более новую версию питона

[2021-07-26 08:08] ghost commented on #371
Спасибо помогло

[2021-07-26 08:08] #371 closed, assigned to timoniq

[2021-07-26 08:21] ghost opened #372 "Вопрос: Как настроить фильтр на проверку текста внутри сообщения"
**Вопрос:** ...

Мне нужно отправить ответ в том случае если "Привет" или другие строки из списка, есть внутри сообщения. Как это можно реализовать?

Пример того что мне нужно:
![image](https://user-images.githubusercontent.com/87802281/126957144-0c1740db-deff-40bb-8dc4-6f2ab7302daf.png)

[2021-07-26 11:51] timoniq commented on #372
`@bot.on.message(`

* `func=lambda m: "привет" in m.text`
* `text="<!>привет<!>`
* `regexp=r".*привет.*"`

`)`

[2021-07-26 18:45] dadyarri opened #373 "Вопрос: Как ловить события от callback-кнопок?"
Знаю про существование `bot.on.raw_event`, но при его использовании в рулзы и хендлеры приходит словарь. Как удобно обработать `MessageEvent`?

Так же, при добавлении rules/custom_rules к хендлеру `on.raw_event` появляется ошибка

[code]

[2021-07-27 05:56] timoniq commented on #373
1) если указать датакласс, приходить должен датакласс
[code]
2) покажите как вы это делаете, так не очень понятно

[2021-07-27 11:11] dadyarri commented on #373
1. Сейчас проверю *UPD:* Да, так все отлично работает
2.  Так не работает:
[code]
Но почему-то так - работает:
[code]

3. Есть способ вызывать `messages.send_message_event_answer`/`messages.send` не обращаясь к ctx_api чтобы все параметры запроса подхватывались автоматически?
4. Не хватает конструктора event_data, чтобы в коде не лежал сырой json:
[code]

[2021-07-27 11:36] timoniq commented on #373
1) :)
2)

не представляю, где вы нашли такое. правила передаются в декоратор обычными поз. аргументами

[code]

сразу напомню, что raw_event работает так, что регистрирует только один хендлер на один тип ивента (это поведение будет изменено в 3.1), поэтому если вы хотите делать обработку одного ивента множеством хендлеров, можно написать свой view для ивента или обрабатывать все в одном хендлере

[2021-07-27 11:40] dadyarri commented on #373
Понял, спасибо

[2021-07-27 11:40] #373 closed, assigned to timoniq

[2021-07-27 11:41] #372 closed, assigned to timoniq

[2021-07-27 11:47] dadyarri opened #374 "Предложение: конструктор `event_data` для `send_message_event_answer`"
**Описание функциональности:** Чтобы избежать скопления json'а в коде хендлеров думаю стоит добавить генераторы как для клавиатур

**Пример псевдокода (опционально):**

[code]

[2021-07-28 16:45] ghost opened #375 "Предложение: обновление зависимостей"
Как вы смотрите на то, чтобы обновить версии зависимостей и заодно пофиксить баги, которые обнаруживает новая версия [mypy](https://github.com/python/mypy)?

[2021-08-08 18:49] ksusonic opened #381 "Не прикрепляется фото в сообщение"
Эта фишка deprecated в текущем на данный момент апи вк?

https://github.com/vkbottle/vkbottle/blob/6811891871236017ef5855d8ae480e7810dfc89a/examples/high-level/photo_upload_example.py#L12

[2021-08-08 20:55] axd1x8a commented on #381
Скорее всего у бота просто нет доступа к этому аттачменту. Их отправка таким способом вряд-ли будет удалена вк.

[2021-08-09 00:41] axd1x8a commented on #381
Никаких проблем c этим аттачментом нет.
![image](https://user-images.githubusercontent.com/26704473/128650722-4c21e1a4-13e3-4e14-ab91-bc0270faeccc.png)

[2021-08-09 00:41] #381 closed, assigned to nobody

[2021-08-17 15:08] drforse opened #384 "Баг: ошибка при парсинге ответа апи после отправки сообщение нескольким пользователям сразу."
**Опишите баг:** При отправке сообщения на peer_ids, vk api версии 5.131 возвращает в response список словарей `{'response': [{'peer_id': ..., 'message_id': ..., 'conversation_message_id': ...}]}`, но библиотека пытается парсить его, как int.

**Ожидаемое поведение:** Парсинг response в соответствии с апи вк

**Фактическое поведение:** Парсинг response также, как при отправке одному пользователю,

[2021-08-17 15:19] timoniq commented on #384
должно быть исправлено [здесь](https://github.com/vkbottle/types/commit/6ef013e216705a1a91b2999f5718ba96817a2d3c), обновите типы

[2021-08-17 16:09] drforse commented on #384
Окей, спасибо. На pypi просто нету ещё этого фикса, потому так получилось.  :)

[2021-08-17 16:09] #384 closed, assigned to timoniq

[2021-08-26 05:39] timoniq opened #385 "Предложение: передача контекста руководствуясь сигнатурой хендлера"
Скорее всего лучше привязываться к from_func_handler и уже в нем изменять контекст базируясь на сигнатуре функции/по аннотациям. Таким образом в хендлер не будут стучаться лишние аргументы из контекста

[2021-08-26 08:23] ghost commented on #385
Что делать в ситуации, когда тип аргумента, указанный в сигнатуре хендлера, не соответствует настоящему типу аргумента, хранящегося в контексте?

[2021-08-26 14:21] timoniq commented on #385
думаю, можно игнорировать это

[2021-08-27 16:28] dhvcc commented on #319
Не совсем понял что именно имеется ввиду

Есть же [тулзы](https://github.com/vkbottle/vkbottle/tree/master/vkbottle/tools/dev_tools/auth), или тут требуется что-то другое?

[2021-08-27 16:37] timoniq commented on #319
видимо, нужен удобный шорткат как в 2.x. `User(login="xxx", password="xxx")`

[2021-08-27 16:39] dhvcc commented on #319
Понял, хорошо

[2021-08-28 10:09] timoniq opened #391 "Предложение: документация для #389"
#389

[2021-08-29 09:44] Ne0shka commented on #319
Да, почти, только с указанием client_id, client_secret и т.д.
Как вариант (чтобы не набивать всем этим юзера) сделать что-то вроде:
[code]

[2021-08-29 10:16] axd1x8a commented on #319
Лучше обернуть `direct_auth` в `@classmethod` и возвращать объект юзера с токеном.
Тогда можно будет не инитить класс:
[code]

[2021-09-17 15:57] deathpython opened #395 "Помогите организовать ответ на сообщение."
У моего бота появилась необходимость отвечать на полученное сообщение внутри беседы. В vk api используется is_reply или reply_to. Так и не получилось у меня заставить его работать. Простите за тупые вопросы, но нужен пример работы с reply_to или хотя бы forward

[2021-09-17 16:05] ghost commented on #395
@deathpython покажите свой код

[2021-09-17 16:10] ghost commented on #395
[Вот тут](https://github.com/vkbottle/vkbottle/blob/dev/vkbottle/tools/dev/mini_types/bot/message.py#L63) можно глянуть пример.
Если отвечаете на сообщение с помощью `message.answer`, нужно передать `MessagesForward` в аргументе `forward`

[2021-09-18 19:17] deathpython commented on #395
Не могу никак понять логику vkbottle. Прилагаю последний вариант, который я использовал.
Сразу извиняюсь за боль в глазах

@bot.on.chat_message(text=["Привет"])
async def forward_handler(messege: Message) -> None:
    try:
        forward_info = await bot.api.messages.get_conversation_message_ids(
            peer_id=peer_id
        )
        forward = MessagesForward(conversation_message_ids=forw

[2021-09-18 19:28] axd1x8a commented on #395
А у вас бот на странице пользователя? Если да, то достаточно этого:
[code]
А если у вас группа, то reply_to может работать только в личных сообщениях, тк `message.id` в чатах всегда будет `0`
Чтобы ответ работал и в чатах, нужно сделать так:
[code]

[2021-09-18 19:47] deathpython commented on #395
Спасибо всем за помощь! Проблема была в использование `is_reply=True`. Так же необходимо импортировать `from vkbottle_types.objects import MessagesForward`

[2021-09-18 19:47] #395 closed, assigned to timoniq

[2021-09-23 20:39] #374 closed, assigned to nobody

[2021-09-23 20:49] axd1x8a commented on #319
Постараюсь реализовать это в ближайшее время, но сразу хочу сказать, что не вижу смысла делать поддержку двухфакторной аутентификации, поэтому ее не будет.

[2021-09-23 20:55] deathpython opened #398 "Создание опросов"
Подскажите, чего в этой схеме не хватает для создания опроса?
Опрос, должен прийти в беседу
***
@bot.on.chat_message(FromUserRule())
async def pools(message: Message) -> None:
    peer_id = message.peer_id
    api = API(bot)
 await message.answer(api.polls.create(question="да?", add_answers=["да", "да"], peer_id=message.peer_id)) ***

[2021-09-23 21:01] axd1x8a commented on #398
Ответы на подобные вопросы стоит искать в документации вк.
https://vk.com/dev/polls.create

Там написано, что этот метод доступен только с токеном пользователя.

[2021-09-23 21:01] #398 closed, assigned to timoniq

[2021-09-23 21:05] deathpython commented on #398
Вы имеете в виду, что ботам такой функционал недоступен?

[2021-09-23 21:07] axd1x8a commented on #398
Этот метод нельзя вызвать с токеном сообщества.
![](https://i.imgur.com/vfbo41n.png)

[2021-09-24 21:42] #375 closed, assigned to nobody

[2021-09-27 18:35] #391 closed, assigned to nobody

[2021-10-02 20:02] #385 closed, assigned to axd1x8a, timoniq

[2021-10-05 15:39] kaejuh opened #406 "Баг: Неэффективная работа с сообщениями"
**Опишите баг:** В dev ветке обработчик сообщений пользователя проверяет каждое приходящее сообщение через Messages.GetById.

**Ожидаемое поведение:** При большом количестве поступающих сообщений может вызвать ошибку Too many requests per second.

**Фактическое поведение:** Вызывает ошибку Too many requests per second только при большом потококе сообщений.

**Заполните поля технической информации:

[2021-10-05 16:17] axd1x8a commented on #406
Используйте [генераторы токенов](https://vkbottle.readthedocs.io/ru/latest/low-level/api/token-generator/)

[2021-10-05 17:22] kaejuh commented on #406
Но, разве id сообщений относительно каждого токена не разные? В таком случае такой подход не сработает.

[2021-10-05 17:23] axd1x8a commented on #406
Нет конечно, все это сделано, чтобы получать нормальный объект сообщения из того, что присылает вк (почти ничего)

[2021-10-05 18:56] kaejuh commented on #406
Ну хорошо, будем надеяться, что вк починит событие сообщений или найдется альтернативный способ получать объект сообщения без дополнительных запросов к API.

[2021-10-05 18:56] #406 closed, assigned to timoniq

[2021-10-08 09:58] kaejuh opened #408 "Баг: 65 is not a valid UserEventType"
**Опишите баг:** Неизвестное событие или возможно не учтено в обработчике.

**Ожидаемое поведение:** ValueError

**Фактическое поведение:** Возникает по неизвестной причине, вне зависимости от кода, при обработке сообщений

**Код ошибки**:
https://dumpz.org/bKQMeZyhbNYr
Password: vkbottle

---
vkbottle: https://github.com/vkbottle/vkbottle/tree/dev
vkbottle-types: 5.131
OS: Windows 8.1

---

[2021-10-10 18:14] axd1x8a commented on #408
Исправлено в 157e858

[2021-10-10 18:14] #408 closed, assigned to timoniq

[2021-10-10 18:14] #319 closed, assigned to nobody

[2021-11-05 11:52] yilbegan opened #423 "Предложение: Переработать StateDispenser"
**Описание проблемы:**
На данный момент механизм хранения и обработки стейтов работает странно, так, данные стейты равнозначны между собой:
[code]
(Механизм проверки стейта в [StateRule](https://github.com/vkbottle/vkbottle/blob/da5553623a1591e5bf9d4df77c42395c08430bb2/vkbottle/dispatch/rules/bot.py#L354))

Кроме того, стейты сложно хранить во внешнем хранилище, т. к. при сериализации/десериализац

[2021-11-06 07:52] #423 closed, assigned to nobody

[2021-11-10 19:24] TochnoNePercy opened #427 "Автоматическое разбиение длинного сообщения"
В ВК приложении или браузере, если сообщение длиннее 1000 символов оно автоматически разбивается на несколько сообщений, однако если попытаться отправить сообщение длиной от 1000 символов ботом, вылетает ошибка.
   Суть сделать автоматическое разбиение длинных сообщений, делить можно по логическим частям/меткам - точкам, абзацам, пробелам(если уж вообще ничего нет)

[2021-11-10 19:26] ghost commented on #427
Никто не запрещает вам сделать это в своём боте)

[2021-11-10 19:27] TochnoNePercy commented on #427
В принципе да, но это было бы приятным бонусом)

[2021-11-10 19:28] axd1x8a commented on #427
Это уже есть в dev ветке для `MessageMin.answer()`

[2021-11-10 19:28] #427 closed, assigned to nobody

[2021-11-10 19:29] TochnoNePercy commented on #427
Спасибо

[2021-11-25 11:54] Infqq opened #430 "Вопрос: аргументы в payload кнопках"
**Вопрос:** Данные payload кнопки динамичные, кроме 1 слова в начале. Можно ли как-то получать аргументы кнопки?

[2021-11-25 17:03] Timtaran opened #431 "Баг: 'User' object has no attribute 'request'"
**Опишите баг:** ...

**Ожидаемое поведение:**
Отправка фото/аудио человеку

**Фактическое поведение:**
`'User' object has no attribute 'request'`

**Ваш код (опционально)**: ...
[code]

**Заполните поля технической информации:**

---
vkbottle: 3.0 dev
vkbottle-types: 0.1.18
OS: Windows 7

---

[2021-11-25 17:08] axd1x8a commented on #431
В аплоадер вы должны передать инстанс апи, а не фреймворка

[2021-11-25 17:08] #431 closed, assigned to timoniq

[2021-11-25 17:10] axd1x8a commented on #430
Чтобы ловить пейлоад этой кнопки, вы можете использовать PayloadMapRule

[2021-11-25 17:10] #430 closed, assigned to timoniq

[2021-12-02 13:36] Ne0shka opened #435 "Вопрос: работа мидлварей"
**Вопрос:** В каком порядке происходит мидлварей?

**Пример:**
Есть зарегистрированные мидлвари: `[register_mw, check_mv]`
Будут ли они работать в том же порядке, как зарегистрированы? Если нет - то почему?

**Ветка:** dev

[2021-12-02 19:07] #435 closed, assigned to timoniq

[2021-12-02 19:17] dhvcc commented on #435
Пометка на будущее - проблема была в использвании сета для регистрации. Изначально это делалось как доп проверка, но по итогу поломало некоторые вещи тк сет неупорядочен

[2021-12-02 19:26] dhvcc opened #437 "Вопрос: python 3.6"
**Вопрос:** Почему минимальная версия 3.7? По истории видно, что 3.7 стоит с появления файла `pyproject.toml`

Python 3.6 - самая популярная версия питона на данный момент, так что лучше бы поддерживать

[2021-12-03 11:53] axd1x8a commented on #437
Поддержка python 3.7 и так накладывает некоторые ограничения, а с 3.6 их будет ещё больше.

[2021-12-03 23:14] dhvcc commented on #437
Почему тогда не релизнуть беккомпат версию на отдельной ветке с хотя бы текущим функционалом. Я не предлагаю тебе писать. Не очень хорошо, что ты физически не поставишь ботл на 3.6

[2021-12-12 10:50] artush6 opened #449 "Вопрос: Как добавить карусель?"
**Вопрос:** ...

Пытаюсь добавить различными способами карусель. Вот конечный, но выдающий ошибку
`    carousel = template_gen(
      TemplateElement(
        ["Title", "Description", "-109837093_457242809"],
        [Keyboard().add(Text("Example")).get_json()]
      )
    )`

Вот ошибка:   File "/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/vkbottle/tools/dev/templ

[2021-12-12 11:38] axd1x8a commented on #449
Зачем вы передаёте лист?

[2021-12-14 13:06] artush6 commented on #449
Когда я передаю не лист, мне выдают ошибку, мол, list is requirement

[2021-12-14 13:22] axd1x8a commented on #449
Покажите, что за ошибка

[2021-12-15 04:22] artush6 commented on #449
`vkbottle.exception_factory.code_exception.VKAPIError_911: Keyboard format is invalid: template['elements'][0]['buttons'][0] should be array`

[2021-12-15 04:24] artush6 commented on #449
@bot.on.private_message(text = "example")
  @bot.on.private_message(payload = {"cmd": "example"})
  async def top_songs_handler(message: Message):

    keyboard_1 = Keyboard().add(Text("button 1", {})).get_json()
    keyboard_2 = Keyboard().add(Text("button 2", {})).get_json()

    # More about combining fields can be read in vk documentation
    # for templates: https://vk.com/dev/bot_docs_templa

[2021-12-16 19:46] #449 closed, assigned to timoniq

[2021-12-16 19:49] axd1x8a commented on #449
Обновитесь до 4.0.4, там должно работать

[2021-12-16 19:54] artush6 commented on #449
Да, заработало. Спасибо большое, очень выручили ;)

[2021-12-16 20:00] #367 closed, assigned to nobody

[2021-12-27 12:10] beliboba opened #454 "ImportError: cannot import name 'StatePeer' from 'vkbottle_types'"
ImportError: cannot import name 'StatePeer' from 'vkbottle_types' (C:\Users\###\AppData\Local\Programs\Python\Python310\lib\site-packages\vkbottle_types\__init__.py
)

[2021-12-27 13:35] axd1x8a commented on #454
если у вас версия 4.x, то стейты импортируются из vkbottle, а если 3.х, то вам нужно обновиться до 3.0.3

[2021-12-27 13:35] #454 closed, assigned to timoniq

[2022-01-04 15:36] Masynchin opened #458 "Трудно читать документацию"
**UPD: отправляйте свои изменения, улучшающие документацию, в #471 **

Очень трудно читать документацию из-за обилия непереведённых терминов.

**Пример из документации (раздел LoopWrapper):**
## interval
Легкий темплейт для создания тасков с бесконечно повторяющимися действиями в интервале. Пример:

...

**Пример перевода на русский:**
## interval (Повторяющиеся задачи)
Пример создания повторяющей

[2022-01-04 16:22] axd1x8a commented on #458
Вы правы, это один из вопросов, который можно было бы сделать лучше. К сожалению, ресурсов мейнтейнеров и контрибьюторов не хватает, в том числе на решение проблемы, которую вы обозначили.
Если вы сами сможете исправить это - с нетерпением ждём вашего пулл реквеста.

[2022-01-07 16:50] beliboba opened #460 "Вопрос: как получить id сообщения на которое ответил пользователь?"
как получить id сообщения на которое ответил пользователь?

[2022-01-07 17:15] axd1x8a commented on #460
Вконтакте предоставляют [документацию](https://dev.vk.com/) ко всему апи, включая объект [сообщения](https://dev.vk.com/reference/objects/message).
Еще советую посмотреть список [рекомендованных IDE](https://vkbottle.readthedocs.io/ru/latest/tutorial/recommended_ide/), в которых есть подсказки для всего, что есть в vkbottle.

[2022-01-07 17:15] #460 closed, assigned to timoniq

[2022-01-10 09:53] Olegt0rr opened #462 "Поддерживаемая версия VK API"
Добавьте в README поддерживаемую версию VK API, будет нагляднее для новичков

[2022-01-10 09:56] axd1x8a commented on #462
Не вижу в этом никакого смысла

[2022-01-10 10:00] #462 closed, assigned to timoniq

[2022-01-10 20:48] Olegt0rr commented on #462
@FeeeeK,
А как понять какая версия VK API сейчас поддерживается?

[2022-01-10 20:51] axd1x8a commented on #462
Последняя

[2022-01-11 08:47] Olegt0rr commented on #437
@dhvcc, начиная с января 2022 года, даже если есть критическая ошибка безопасности, она не будет исправлена командой разработчиков Python. Если проекты живые - уже давно пора перетащить их на свежие версии.

[2022-01-11 08:49] dhvcc commented on #437
Ага, я к этому и создавал, после изначального анонса

[2022-01-11 09:25] axd1x8a commented on #437
Так что в итоге? Я не считаю, что поддержка 3.6 нужна, но если делать, то придется решать проблемы с зависимостями, которые тоже не поддерживают эту версию

[2022-01-11 11:29] Olegt0rr commented on #437
Она абсолютно не нужна. Всё, поддержка 3.6 официально закончилась у самого питона. Тащить его сюда смысла никакого не имеет.

[2022-01-11 14:06] axd1x8a commented on #437
Значит закрываю

[2022-01-11 14:07] dhvcc commented on #437
Не совсем понимаю токса в сторону 3.6. Неважно, поддерживается или нет. Люди юзают и это главное.

Хотя с другой стороны, видимо, никому уже не хочется в ботл что-то писать

[2022-01-11 14:09] dhvcc commented on #437
Нет смысла тогда думать о фичах, если либа не поддерживает самую популярную версию питона + ей лень заниматься. Видимо, мнение разрабов эхо-ботов на 3.8 важнее

[2022-01-11 14:12] axd1x8a commented on #437
Как минимум с зависимостями я ничего не могу сделать. Надо решать этот вопрос с @timoniq

[2022-01-11 14:14] Olegt0rr commented on #437
@dhvcc, с чего ты привязался к "самой популярной версии"? У тебя ломаются какие-то любимые зависимости, тогда сходи к их разработчикам или отправь туда PR. Не понимаю проблему

[2022-01-11 14:14] dhvcc commented on #437
Ну ведь вопросы нужно обсуждать и решать, а не формировать личное мнение и отталкиваться от него.
Какие проблемы с зависимостями? Давайте тот, кто знает, отпишет.

[2022-01-11 14:16] dhvcc commented on #437
Потому что это факт и это являет собой потенциальную часть разработчиков. Если ты пишешь либу для себя или для узкого круга лиц - ок.
Не понимаю с чего ты сделал вывод, что я пишу на 3.6 и у меня ломаются зависимости

[2022-01-11 14:21] Olegt0rr commented on #437
Потому, что когда ты начинаешь новый проект, глупо брать устаревший питон.
Единственное, что может на это сподвигнуть - зависимости, которые не докатили до нужной версии.

[2022-01-11 14:24] dhvcc commented on #437
Почему тут именно новый проект? Что если кто-то хочет мигрировать старый?
Если тебя не интересует питон 3.6 - не пиши сюда, это логично. Я не прошу делать это ни тебя, ни фека
Этот ишью являет собой обсуждение существующих преград поддержке 3.6, а не целесообразности его использования в _новых_ проектах. По-моему это должно быть ясно

[2022-01-11 14:37] Olegt0rr commented on #437
Если кто-то хочет мигрировать существующий проект - ему всё равно придётся переписывать часть приложения (отличный момент, чтобы заодно обновить и python).

Целесообразность расширения поддержки для **протухшей** версии python **неочевидна** в 2022 году

[2022-01-11 14:42] dhvcc commented on #437
Твоя неприязнь к 3.6 - твоё дело. Писать эти сообщения ровно резать воду. Ты не можешь поменять факт использования определённой версии
Тем более ты ничего не добьешься рассматривая эдж кейсы в пользу своей теории
Пожалуйста, ещё раз перечитай моё предыдущее сообщение 👎

[2022-01-11 22:09] Olegt0rr opened #464 "Баг: пример с Callback не отвечает на нажатие кнопки"
## Опишите баг

Примеры с Callback не отвечают на нажатие кнопок
- https://github.com/vkbottle/vkbottle/blob/master/examples/high-level/callback_buttons.py
- https://github.com/vkbottle/vkbottle/blob/master/examples/high-level/message_event.py

## Ожидаемое поведение

Бот должен как-то среагировать на нажатие кнопки

## Фактическое поведение

При нажатии, на кнопку появляется колесо загрузки и бол

[2022-01-11 22:23] Olegt0rr commented on #464
Ага, сам дурак. Не включил для токена "Действия с сообщением"

[2022-01-11 22:23] #464 closed, assigned to timoniq

[2022-01-11 23:36] Olegt0rr opened #465 "Предложение: сделать объекты пользователей хешируемыми"
## Описание функциональности
Было бы круто сделать объекты пользователей хешируемыми.
Это поможет сравнивать их друг с другом и добавлять в сеты.

## Пример псевдокода

[code]

[code]

[2022-01-12 04:38] axd1x8a commented on #465
Так как объекты в vkbottle-types генерируются автоматически, к ним нельзя ничего добавлять.

[2022-01-12 07:18] Olegt0rr commented on #465
Почему нельзя? Делаем изменённый в нужную сторону `pydantic.BaseModel` и наследуемся от него

[2022-01-12 07:19] axd1x8a commented on #465
Не во всех объектах есть .id

[2022-01-12 07:20] Olegt0rr commented on #465
Да, но можно проверять наличие id :)

[2022-01-12 07:23] Olegt0rr commented on #465
А где можно посмотреть генератор?

[2022-01-12 17:39] dhvcc commented on #465
Если я правильно понимаю, то тогда что-то будет хешируемым, что-то нет. Почему это тогда на разработчика не оставить?
Идея здравая, но если это будет работать частично, то может только добавить проблем

[2022-01-14 06:48] Olegt0rr commented on #465
@dhvcc ты не можешь оставить на разработчика то, что прилетает тебе из бутылки :)
Патчинг моделей на лету я не рассматриваю, это дно)

Объекты без id тоже можно сделать хэшируемыми: либо через станадартные средства pydantic (frozen=True), либо через сумму полей

[2022-01-14 10:58] dhvcc commented on #465
Тогда я думаю это больше ишью для репы тайпов. Можешь сделать минимальный ПР, что бы изначально посмотреть как это будет работать, а потом можно попробовать в кодген добавить

[2022-01-14 11:24] axd1x8a commented on #465
Все ишью к типам нужно заводить здесь. А насчёт этой идеи, я не вижу необходимости в этом, если у него проблема с повторяющимися юзерами, то это нужно решать перед запросом, а не после.

[2022-01-14 13:49] Olegt0rr commented on #465
Вопрос не в одном повторении, а в использовании всех возможностей и преимуществ `set()`, которые сейчас заблокированы по непонятной причине ("нет необходимости" за причину не считается)

[2022-01-14 15:09] axd1x8a commented on #465
Считается

[2022-01-14 15:29] Olegt0rr opened #468 "Баг: у метода `message.answer` параметр `peer_ids` не работает ни при каких условиях"
**Опишите баг:**
У метода `message.answer()` есть параметр `peer_ids`, который не работает.
При этом рядом лежит параметр `user_ids`, который работает корректно.

**Ожидаемое поведение:**
1. Передаю в message.answer() параметр `peer_ids`
2. Сообщение доставлено каждому peer.

**Фактическое поведение:**
1. Сообщение доставлено только в чат, в который было отправлено.

**Заполните поля технической и

[2022-01-14 15:31] Bundaev commented on #468
bot.api.messages.send(peer_ids=peer_ids ,message='message', random_id=0)

[2022-01-14 15:36] timoniq commented on #465
это будет полезно. такое уже делали когда-то (#145), можно это легко кодгенить: использовать поля `r"\bid\b"` для хеширования

[2022-01-14 15:37] Olegt0rr opened #469 "Баг: некорректный тайпхинт у метода `message.answer()`"
**Опишите баг:**
Берём метод `message.answer()` заполняем параметр `user_ids`, получаем результат, который не соответствует указанному типу. Хорошо было бы добавить `Union` или `overload`, либо убрать `user_ids `

**Ожидаемое поведение:**
Метод возвращает указанный тип
https://github.com/vkbottle/vkbottle/blob/c150f80904ed0cb6b741fe14b4b63e63c862e3ec/vkbottle/tools/dev/mini_types/base/message.py#L

[2022-01-14 15:37] axd1x8a commented on #465
:sob:

[2022-01-14 15:37] axd1x8a commented on #465
Ладно

[2022-01-14 15:38] Olegt0rr commented on #468
Спасибо, этот workaround понятен :)

[2022-01-14 15:56] dhvcc commented on #465
@FeeeeK тебе не обязательно что-то делать. ПР поднимет он, а нюансы обсудим тут. А тебе или Арсению на мердж нажать

[2022-01-18 06:48] axd1x8a commented on #437
Кто-то из чата всё-таки умудрился поставить ботл на 3.6
https://nekobin.com/tudedugoqo

Исправить это точно не получится, поэтому закрываю вопрос.

[2022-01-18 06:49] #437 closed, assigned to timoniq

[2022-01-19 18:38] Masynchin commented on #458
@FeeeeK может снова открыть этот ишьюс? Хочу, чтобы она вела на мой ПР, в который будут добавляться улучшения документации

[2022-01-27 10:45] axd1x8a commented on #271
Есть ещё какие-нибудь мысли по этому вопросу? Если нет, то я закрываю ишью.

[2022-01-27 10:46] LeeeeT commented on #271
@FeeeeK это ещё почему? Зачем закрывать ишью, если проблема не решена?

[2022-01-27 11:18] axd1x8a commented on #271
Ну я не вижу никакого хорошего решения.

[2022-01-27 17:57] #469 closed, assigned to timoniq

[2022-01-27 17:57] #468 closed, assigned to timoniq

[2022-02-03 19:54] capsey opened #477 "Вопрос: OnMessage ивент на сообщения сообщества"
**Вопрос:** Есть ли возможностью иметь ивент на подобии `@bot.on.message`, который вызывается при новом сообщении от сообщества в личном чате?

`@bot.on.message` вызывается только при новом сообщения от всех, кроме самого сообщества (что имеет смысл), однако мне нужно также обрабатывать и сообщения от сообщества тоже, чтобы администраторы, пишущие от лица сообщества в личном чате также могли испол

[2022-02-03 19:58] deknowny commented on #477
На моей памяти, событие сообщения от самого сообщества называется `message_reply`. Можно обработать событие в сыром виде.

Однако добавить флаг на поддержку этого события под интерфейс `on.message` имеет смысл.

[2022-02-03 20:04] axd1x8a commented on #477
Так и есть, приходит отдельный евент `message_reply`, но его поддержки в `.message()` не будет, тк это для этого используется другое view. Если он вам нужен, то используйте `raw_event()`

[2022-02-03 20:04] #477 closed, assigned to timoniq

[2022-02-18 07:19] alekssamos opened #486 "Бот виснет после ошибки ServerDisconnectedError"
Отправляю или редактирую сообщение, иногда получаю такую ошибку:
`<class 'vkbottle.exception_factory.code_exception.VKAPIError_9'> Flood control: too much messages sent to user.`
try catch не помогают. Обновил до последней версии, проблема осталась.

[2022-02-18 07:22] axd1x8a commented on #486
Покажите код

[2022-02-18 07:25] alekssamos commented on #486
[code]
Ну например так.
Или просто обычный:
[code]
И всё равно программа останавливается.

[2022-02-18 07:26] mironovmeow commented on #486
В vkbottle есть ErrorHandler, которые позволяет отлавливать ошибки.

https://github.com/vkbottle/vkbottle/blob/master/docs/low-level/exception_handling/error-handler.md

Так же его можно передать при инициализации бота.

bot = Bot(error_handler=...)

[2022-02-18 07:28] alekssamos commented on #486
Я пробовал, тогда он поработает две минуты и отключается от LP сервера, точнее если ошибка соединения, он не восстанавливается, а вылетает.

[2022-02-18 07:30] mironovmeow commented on #486
Ошибка с longpool? А можно показать какая конкретно ошибка?

[2022-02-18 07:32] alekssamos commented on #486
`aiohttp.client_exceptions.ServerDisconnectedError: Server disconnected`
После этого зависает и больше ничего не делает.

[2022-02-18 07:39] mironovmeow commented on #486
Вспомнил. Иногда longpool может барахлить и бросает ошибку. Я её просто [игнорирую](https://github.com/mironovmeow/MeowSchool/blob/8c7ab0632f9e3856caad6f3c5ba1a3ca9c9b5805/vk_bot/error_handler.py#L157) (ClientError из aiohttp). Сам не понимаю почему, но работает.

[2022-02-18 07:46] alekssamos commented on #486
Ну я так и не понял почему появляется проблема которую я описал в первом сообщении. Сделайте чтобы она перехватывалась нормально и всё. И как правильно тогда написать обработчик ошибок чтобы он подобную ошибку не выдавал и соединение восстанавливал при разрыве?

[2022-02-18 08:14] mironovmeow commented on #486
Это vk возвращает ошибку от какого-то метода, который вызывается часто.

В ссылке выше я реализовал разные обработчики для разных хендлеров, обернув их `@error_handler.catch`. Почему соединение обрывает я не знаю. Сталкивался пару раз и моё решение выше мне помогло.

P.s. Через [vk](https://vk.com/mironovmeow) я могу помочь быстрее.

[2022-02-18 08:29] axd1x8a commented on #486
Соединение разрывается из-за проблем у вк, позже реализую переподключение. Первый пример кода у меня работает, но вам лучше использовать респонс валидатор для этого.

[2022-02-18 09:53] alekssamos commented on #486
Но когда `ErrorHandler` в **моей** функции нет, ошибки переподключения тоже **нет**, хотя и допускаю, что это чисто совпадение.

[2022-03-12 10:48] iQiexie opened #489 "Вопрос: Поддержка FSM"
Существует ли в vkbottle поддержка FSM, как в [vk_wave](https://fscdev.github.io/vkwave/ru/bots/fsm/)?

Я видел [этот же самый вопрос](https://github.com/vkbottle/vkbottle/issues/113), но ответ на него уже неактуален, т.к бранчи выпилили, как я понял

[2022-03-12 10:52] axd1x8a commented on #489
Да, есть. Вместо бранчей теперь стейты, подробнее о них вы можете узнать в [документации](https://vkbottle.readthedocs.io/)

[2022-03-12 10:54] #489 closed, assigned to timoniq

[2022-03-27 10:21] #486 closed, assigned to timoniq

[2022-03-30 16:39] beliboba opened #493 "Вопрос: откуда импортировать Branch?"
Откуда импортировать Branch?

[2022-03-30 16:44] beliboba commented on #493
В документации ничего нет

[2022-03-30 16:56] axd1x8a commented on #493
Бранчи заменены стейтами, поищите информацию про них в документации.

[2022-03-30 16:58] #493 closed, assigned to timoniq

[2022-04-01 17:53] beliboba opened #495 "Как вызвать стейт по нажатию кнопки?"
Как вызывать стейт по нажатию кнопки?

[2022-04-01 18:33] axd1x8a commented on #495
Что значит вызвать?

[2022-04-01 19:10] beliboba commented on #495
Задать

bot.state_dispenser.set()

[2022-04-01 19:12] axd1x8a commented on #495
Ловить нажатие кнопки. Например, можно использовать в них payload.

[2022-04-01 19:12] #495 closed, assigned to timoniq

[2022-04-17 18:44] arseny2606 opened #498 "Баг: ошибка при нажатии на не-инлайн callback кнопку"
**Опишите баг:** при нажатии на не-инлайн callback кнопку ВКонтакте не присылает conversation_message_id, хотя в модуле types в объекте события параметр не отмечен как Optional. В репозитории vkbottle-types создан [пулл-реквест с исправлением](https://github.com/vkbottle/types/pull/37).

**Ожидаемое поведение:** событие message_event правильно обрабатывается, ошибки валидации pydantic не возникает

[2022-04-17 19:13] markelovstyle commented on #498
Можно пример такого события, где отсутствует `conversation_message_id`?

[2022-04-17 19:37] arseny2606 commented on #498
```{'group_id': ..., 'type': 'message_event', 'event_id': '5fff6d1f8a832a19ea8e4b717a139f32dd80ac99', 'v': '5.131', 'object': {'user_id': ..., 'peer_id': ..., 'event_id': 'a63ab5923e8c', 'payload': {'command': 'show_product', 'product_id': 2}}}```

Подобное событие приходит при нажатии на Callback кнопку в клавиатуре, у которой `inline=False`.

[2022-04-17 19:53] axd1x8a commented on #498
От пр в типах нет никакого смысла, изменения удалит кодген, откройте ишью в схеме вк.

[2022-04-17 19:55] axd1x8a commented on #498
https://github.com/VKCOM/vk-api-schema

[2022-04-17 20:56] arseny2606 commented on #498
Или мы слепые (что возможно), или в схеме нет описания объекта события message_event...

[2022-04-18 06:04] axd1x8a commented on #498
Да, моя ошибка. Обновите типы с мастер ветки или дождитесь релиза на pypi.

[2022-04-18 06:04] #498 closed, assigned to timoniq

[2022-04-20 19:07] oReazy opened #499 "Баг: Task was destroyed but it is pending!"
Во время работы бота может появляться данная ошибка

[code]

Появляется она всегда случайно. Можно ли ее как-то исправить?
Версия vkbottle 3.0

[2022-04-20 19:19] axd1x8a commented on #499
Проблема где-то у вас в коде, и не связанна с vkbottle. В поиске проблемы вам поможет обновление до 4.2 и установка loguru.

[2022-04-20 19:19] #499 closed, assigned to timoniq

[2022-04-23 13:44] Futyn-Maker opened #500 "Вопрос: как сделать хендлеры по тексту регистронезависимыми?"
Здравствуйте! Большое спасибо за удобную библиотеку! Я новичок во всём, что касается асинхронного программирования и хендлеров, поэтому заранее прошу прощение, если вопрос покажется элементарным.

**Вопрос:** как сделать так, чтобы сообщения обрабатывались независимо от регистра?
[code]
Это будет работать для "привет", но не будет --- для "Привет". Можно, конечно, написать `text=['привет', 'Привет

[2022-04-23 13:54] timoniq commented on #500
https://github.com/vkbottle/vkbottle/blob/9c029f449f0ffa41da1ec6e72b7a42fedea3813d/examples/high-level/labeler_setup.py#L31

[2022-04-23 14:09] Futyn-Maker commented on #500
Спасибо! Кажется, то, что нужно. :-)

[2022-04-23 14:09] #500 closed, assigned to timoniq

[2022-05-02 16:00] beliboba opened #502 "Вопрос: как узнать прочитал ли пользователь сообщение бота?"
Как я могу поймать прочтение последнего сообщения от бота пользователем?

[2022-05-03 10:04] beliboba opened #503 "Баг: на сайте документации сломанная ссылка"
https://vkbottle.readthedocs.io/ru/latest/tutorial/first-bot/#_1
Если кликнуть по ссылке token-generator, попадаем на неисправную страницу https://vkbottle.readthedocs.io/docs/low-level/api/token-generator.md
![image](https://user-images.githubusercontent.com/73661136/166435695-7aec7cd5-29b1-41d7-aa42-5e9fd2262bcd.png)

[2022-05-03 16:12] Zensonaton opened #504 "Баг: Циклически вызывается ErrorHandler при использовании функции task.cancel()"
**Опишите баг:** При создании User-polling'а в функции `asyncio.create_task(...)`, и далее при дальнейшем использовании `task.cancel()` внутри Error Handler'а вызывает цикличный вызов Error Handler'а.

**Контекст**: Я пытаюсь объеденить vkbottle и другую библиотеку, в которых тоже используется Polling, (aiogram) и именно поэтому мне необходимо запускать `User.run_polling()` как отдельный asyncio'ш

[2022-05-03 16:35] axd1x8a commented on #504
Просто игнорируйте эту ошибку. Для этого сделайте для нее хендлер, который ничего не делает.

[2022-05-03 17:13] Zensonaton commented on #504
Создал ещё один Error Handler,
[code]
теперь ошибок в консоли не появляется, однако, Error Handler всё равно продолжает циклически перезапускаться.

[2022-05-03 18:10] Zensonaton commented on #504
Как бы я не старался, вызов `task.cancel()`, по какой то причине, повторно вызывает ту же ошибку, которую 'ждёт' Error Handler, из за чего бот бесконечно вызывает Handler, внутри `task.cancel()`, а оно снова Handler, ...

Сейчас даже пытался переменные добавлять:
[code]
пытался делать ещё один Wrapper:
[code]
и результаты такие же; vkbottle всё ещё циклится в Error Handler'е.

[2022-05-04 17:58] Vachrushka opened #505 "Вопрос: Как я могу узнать, что другой человек "записывает голосовое сообщение"?{тема}"
**Вопрос:** ...

[2022-05-04 21:18] axd1x8a commented on #504
Попробуйте сделать свой обработчик ошибок и поставить его в качестве основного в ините бота.

[2022-05-05 07:20] Zensonaton commented on #504
Прошу прощения, не могли бы Вы показать как это сделать? 👀

[2022-05-05 11:32] axd1x8a commented on #502
Такого события нет у ботов. Единственный вариант - через какое-то время получить диалог и проверить прочитан ли он.

[2022-05-05 11:33] #502 closed, assigned to timoniq

[2022-05-05 11:41] axd1x8a commented on #505
Возможно, евент message_typing_state.
https://dev.vk.com/api/community-events/json-schema

[2022-05-05 11:41] #505 closed, assigned to timoniq

[2022-05-05 12:50] axd1x8a commented on #271
После обсуждения в чате было решено, что проблема - вовсе не проблема.

[2022-05-05 12:50] #271 closed, assigned to nobody

[2022-05-05 13:48] Zensonaton commented on #504
Решил изучить сущность бага, изучая [error_handler.py](https://github.com/vkbottle/vkbottle/blob/master/vkbottle/exception_factory/error_handler/error_handler.py#L37-L48), и я заметил что вместо ошибки `asyncio.CancelledError` вызывается другая ошибка, `Authorization failed`, которая вызывается снова и снова при отзыве сессии, поэтому вариант с `if (error == CancelledError) => return` не прокатит.

[2022-05-05 14:04] axd1x8a commented on #504
те, это не проблема ботла?

[2022-05-05 14:36] Zensonaton commented on #504
Нет, это именно баг vkbottle, так как такой же баг происходит и при коде [в самом первом посту](https://github.com/vkbottle/vkbottle/issues/504#issue-1224308486).

[2022-05-05 15:25] axd1x8a commented on #504
А, я понимаю что происходит. Этот запрос не обернут в хендлер ошибок и поэтому ничего не работает.
![image](https://user-images.githubusercontent.com/26704473/166957706-0d14643a-e458-4db5-bd17-50d94c580fc5.png)

[2022-05-05 15:48] Zensonaton commented on #504
Хорошо, как можно самому сделать патч? Сам попытался через `try-catch`, не вышло :D

[2022-05-05 15:51] axd1x8a commented on #504
Да я что-то тоже не понимаю, у меня просто не отменяется таск...

[2022-05-05 16:12] axd1x8a commented on #504
И так, из моих наблюдений:

1. Отменить таск лп нельзя, пока не знаю почему
2. ЛП продолжает работать после прерывания сессии, поэтому можно спокойно обрабатывать сообщения с помощью raw_event

[2022-05-05 16:24] Zensonaton commented on #504
Единственное, что я сам мог выяснить так это то что вызывается ошибка о невалидной сессии, и вызывается она снова и снова. Чувство такое, что где-то сидит `try-catch` блок, который ловит ошибку `asyncio.CancelledError`, (которая вызывается, судя по всему, при `task.cancel()`) и вместо того, что бы ошибку о отмене Task'а обработать, оно вызывает ошибку о невалидной сессии. То есть, псевдокод такой:

[2022-05-05 16:31] axd1x8a commented on #504
[code]
  У меня ваш код работал не совсем правильно, поэтому пришлось чуть-чуть его изменить.
  Как мне кажется, ошибка связанна с asyncio и мы оба что-то делаем не так.

[2022-05-05 16:38] Zensonaton commented on #504
Такой вариант кода работает? `task.cancel()` работает нормально?
Интересно будет разобраться в чём беда, и можно ли это пофиксить на стороне vkbottle :eyes:

[2022-05-05 16:38] axd1x8a commented on #504
В ботле есть кое-что на этот случай, вместо отмены таска можно просто сделать `user.polling.stop = True`

[2022-05-05 16:39] axd1x8a commented on #504
Скорее всего проблема в хендлере ошибок и в том, что он ловит `BaseException`, а не `Exception`

[2022-05-05 16:42] axd1x8a commented on #504
Да, так и есть.

[2022-05-05 16:48] Zensonaton commented on #504
Этот вариант подошёл, он не такой, к сожалению, элегантный как `task.cancel()`, но он работает!

Замечательно, значит, скоро будет фикс со стороны vkbottle? :+1:

[2022-05-11 20:20] neJok opened #508 "Как изменить сообщение, на котором была нажата кнопка?"
![image](https://user-images.githubusercontent.com/84874782/167940841-392daa1e-8824-4476-b043-5f77b6ba87b9.png)

Я написал такой код. Не знаю как через vkbottle получить текст сообщения, по этому сделал  get запрос, но он возвращает не то сообщение, на котором нажата кнопка, а другое. При попытке изменения сообщения мне выдает ошибку о том, что у бота нету доступа.

Как можно переписать код, чтобы

[2022-05-11 20:26] axd1x8a commented on #508
Можете скинуть ссылку на вашего бота?

[2022-05-11 20:30] neJok commented on #508
Бот реагирует на кнопки в беседе, так что нету смысла

[2022-05-11 20:32] axd1x8a commented on #508
Советую сейчас же убрать из кода eval и requests.
И ознакомиться с [документацией](https://vkbottle.readthedocs.io/)

[2022-05-11 20:33] neJok commented on #508
Её очень сложно читать, не могли бы Вы объяснить на что нужно изменить?

[2022-05-11 20:34] axd1x8a commented on #508
Вам придется переписывать весь код, поэтому лучше прочтите и постарайтесь понять документацию.

[2022-05-11 20:34] #508 closed, assigned to timoniq

[2022-05-11 20:34] KurimuzonAkuma commented on #508
Не сказал бы, что сложно... Хотя бы на json.loads

[2022-05-11 20:44] neJok commented on #508
Хорошо, как я понял запросы можно делать через https://vkbottle.readthedocs.io/ru/latest/low-level/http/http-client ? Но это не решает мою проблему. В документации нету никаких функций api, какие аргументы они принимают и тд. Или я что-то не понимаю...

[2022-05-11 20:53] axd1x8a commented on #508
https://dev.vk.com/method

[2022-05-11 21:00] neJok commented on #508
Да, но метод который мне нужен не работает в vkbottle. Я уже описал проблему в самом первом сообщении. У меня есть код на vk_api, который прекрасно работает, но на vk_bottle выдаются ошибки или некоторых методов вообще нету...

[2022-05-11 21:02] KurimuzonAkuma commented on #508
Все открытые методы есть в vkbottle, скрытые ты можешь выполнить через апи реквест, который также есть в боттле

[2022-05-11 21:03] neJok commented on #508
То есть bot.api?
Или из vkbottle.api?

[2022-05-11 21:11] axd1x8a commented on #508
https://vkbottle.readthedocs.io/ru/latest/ ещё раз попрошу ознакомиться с документацией. Там есть ответы на все ваши вопросы

[2022-05-11 21:18] neJok commented on #508
По вашей логике, вместо вопросов, можно просто оставить ссылку на документацию, раз мне уже 3 раз присылают ссылку на неё...

[2022-05-11 21:26] axd1x8a commented on #508
Третий раз присылают, а вы все не можете ее прочесть.

[2022-05-11 21:46] neJok commented on #508
Хорошо, видимо я не умею читать, писать код. Больше не буду вас беспокоить.

[2022-05-12 15:56] m1naj opened #509 "Не работает импорт из документации"
![cmd_cURdsoc1Wk](https://user-images.githubusercontent.com/78999294/168117859-9237499d-862b-4c2c-80da-5d038d831caf.png)
![opera_nw8V3mtVcF](https://user-images.githubusercontent.com/78999294/168117986-d5773bef-1095-4c6f-849e-0a3b16f6f117.png)

[2022-05-12 15:59] mironovmeow commented on #509
Откуда скачивали vkbottle (git / pip) и какой версии?

[2022-05-12 16:00] m1naj commented on #509
pip, 3.1

[2022-05-12 16:04] mironovmeow commented on #509
В 3.1 этого функционала нет. Он появился в 4.0.

upd: Можно воспользоваться обычными сырыми событиями. Они, насколько мне известно, не изменились с 3 версии.

[2022-05-12 16:19] #509 closed, assigned to timoniq

[2022-05-21 20:09] axd1x8a commented on #504
Исправлено в cddd772

[2022-05-21 20:09] #504 closed, assigned to timoniq

[2022-05-21 20:09] #458 closed, assigned to nobody

[2022-05-21 20:12] axd1x8a commented on #465
Есть вариант указать `frozen = True` для всех моделей, но тогда это сделает их неизменяемыми. @Olegt0rr, этот вариант вас устраивает?

[2022-05-21 20:31] Olegt0rr commented on #465
Да. А зачем прилетающая извне модель должна быть изменяемой?

[2022-05-22 11:29] axd1x8a commented on #465
Все датаклассы эвентов останутся изменяемыми, чтобы с ними можно было работать в мидлварях.

[2022-05-22 11:52] axd1x8a commented on #503
Исправлено.

[2022-05-22 11:52] #503 closed, assigned to timoniq

[2022-05-25 18:32] beliboba opened #511 "Баг: {краткое описание}"
Баг такой очень стрёмный
`Traceback (most recent call last):
  File "C:\Users\Beliboba\PycharmProjects\test228\slavebot1.py", line 1, in <module>
    from vkbottle.bot import Bot, Message
  File "C:\Users\Beliboba\AppData\Local\Programs\Python\Python310\lib\site-packages\vkbottle\__init__.py", line 45, in <module>
    from .framework import (
  File "C:\Users\Beliboba\AppData\Local\Programs\Python

[2022-05-25 18:33] buvanenko commented on #511
pip install Jconfig

[2022-05-25 18:34] beliboba commented on #511
Не помогает, кэп 😥

[2022-05-25 18:35] ZeN220 commented on #511
Откуда у тебя директория vkbottle/api/vk_api?

[2022-05-25 18:40] axd1x8a commented on #511
Несмешно.

[2022-05-25 18:40] #511 closed, assigned to timoniq

[2022-05-25 18:43] beliboba commented on #511
Леее, а как починить-то?

[2022-05-25 18:43] beliboba commented on #511
![image](https://user-images.githubusercontent.com/73661136/170344770-19ff5052-f093-4436-a573-814f36447e2f.png)

[2022-05-25 18:53] axd1x8a commented on #511
Ещё одно такое ишью и вам навсегда будет заблокирован доступ к репозиторию.

Если вам нравится позориться, то делайте это в другом месте.

[2022-05-25 18:54] beliboba commented on #511
Всмысле, чё за фигня?

[2022-05-25 18:54] beliboba commented on #511
😡

[2022-05-25 18:58] artegoser commented on #511
Ахахахахахахахааххх

[2022-05-25 19:00] beliboba commented on #511
вот смотрите что у меня в **venv** установлено
`$ pip list
Package            Version
------------------ -----------------
aiofiles           0.8.0
aiohttp            3.8.1
aiosignal          1.2.0
anyio              3.6.1
async-timeout      4.0.2
attrs              21.4.0
charset-normalizer 2.0.12
choicelib          0.1.5
frozenlist         1.3.0
idna               3.3
Jconfig            1.0
mult

[2022-05-27 11:44] Olegt0rr commented on #465
Тогда проблема решается так: https://github.com/vkbottle/vkbottle/issues/465#issuecomment-1010715527

[2022-05-28 12:46] Zensonaton opened #514 "Вопрос: Как отловить событие при редактировании сообщения?"
**Вопрос**: Как именно можно отловить событие при редактировании сообщения? Событие нужно отловить именно у пользователя, а не бота. В примерах кода нашёл примерно следующее:
https://github.com/vkbottle/vkbottle/blob/16f4cbd9b6603e58e9d82083fa452ffe2e7fbd93/examples/high-level/message_event.py#L37-L41
Решил применить это у себя:
[code]
и код не работает. IDE ругался на то что `...UserEventType.MES

[2022-05-28 13:52] axd1x8a commented on #514
Беда в том, что .on это проперти, у которого в типе указан ABCLabeler, а он писался для бота.
![image](https://user-images.githubusercontent.com/26704473/170828350-6bc030a6-dcec-4ddd-9990-d188bde13747.png)
Вы все сделали правильно, но датакласс можно не указывать, тогда в event.object будет сырой лист

[2022-05-28 13:57] Zensonaton commented on #514
Попробовал, и следующий код тоже не работает, ничего не появляется в консоли при редактировании сообщения:
[code]

[2022-05-28 14:45] axd1x8a commented on #514
зачем str

[2022-05-28 14:47] Zensonaton commented on #514
Потому что IDE говорит о том, что "тип int не может быть присвоен типу str"

[2022-05-28 14:48] axd1x8a commented on #514
Просто игнорируйте это.
https://github.com/vkbottle/vkbottle/issues/514#issuecomment-1140268809

[2022-05-29 10:22] #514 closed, assigned to timoniq

[2022-05-29 10:39] Zensonaton opened #516 "Баг: Exception при 'ответе' на сообщение."
**Опишите баг**: При использовании User-Longpoll'а, если кто-то отправляет сообщение с ответом (reply, не пересылкой) и неважно, с какой именно стороны идёт пересылка; со стороны владельца страницы или нет, происходит Exception:
[code]
![image](https://user-images.githubusercontent.com/66683075/170863812-23407d07-328d-4eec-870d-9dc13ce4da98.png)

**Ваш код (опционально)**: [pastebin](https://paste

[2022-05-31 01:29] #465 closed, assigned to nobody

[2022-05-31 01:31] axd1x8a commented on #516
Fixed in 366d824234d91740e00cac0b01119c0fd298d919

[2022-05-31 10:27] Olegt0rr commented on #465
Не очень понял как указанный коммит решает проблему :(

[2022-05-31 10:47] axd1x8a commented on #465
Там используется новая версия типов

[2022-05-31 15:25] m1naj opened #518 "Как отключить откладку в боте?"
?

[2022-05-31 15:32] Zensonaton commented on #516
@FeeeeK, искринне извиняюсь, но даже после обновления всё равно создаётся Exception, но уже другой:
[code]

[2022-05-31 17:00] axd1x8a commented on #516
:disappointed:

[2022-06-01 16:51] TheRealMaN opened #519 "Баг: Если на стене есть запись с видео, то при запросе api.wall.get возникает exception=ValidationError"
**Опишите баг:**
exception=ValidationError(model='GetResponse', errors=[{'loc': ('response', 'items', 2, 'attachments', 0, 'video', 'type'), 'msg': "value is not a valid enumeration member; permitted: 'video', 'music_video', 'movie'", 'type': 'type_error.enum', 'ctx': {'enum_values': [<VideoVideoType.VIDEO: 'video'>, <VideoVideoType.MUSIC_VIDEO: 'music_video'>, <VideoVideoType.MOVIE: 'movie'>]}}])

[2022-06-01 17:13] axd1x8a commented on #519
Что пришло в ответе сервера?

[2022-06-01 18:00] TheRealMaN commented on #519
{
    "response": {
        "count": 21590,
        "items": [
            {
                "id": 937955,
                "from_id": -23509252,
                "owner_id": -23509252,
                "date": 1654096098,
                "type": "post",
                "marked_as_ads": 0,
                "is_favorite": false,
                "post_type": "post",
                "text": "",

[2022-06-01 18:02] TheRealMaN commented on #519
А такой тип видео поддерживается?
"type":"short_video"?

[2022-06-01 20:51] axd1x8a commented on #519
https://github.com/VKCOM/vk-api-schema/issues/212

[2022-06-02 09:22] Zensonaton opened #520 "Баг: Exception "file is undefined" у vkbottle.GraffitiUploader(...).upload() при использовании типа bytes"
**Опишите баг:** Происходит Exception при использовании типа `bytes`:
`vkbottle.exception_factory.code_exception.VKAPIError_100: One of the parameters specified was missing or invalid: file is undefined`

**Ваш код (опционально)**: https://pastebin.com/iEXXVrNh
Необходимо положить любое изображение в формате `png` и запустить код.

**Заполните поля технической информации:**

**vkbottle**: `4.3.2`

[2022-06-02 12:41] axd1x8a commented on #520
Проблема на строне вк

[2022-06-02 13:00] VodoGamer commented on #518
`from loguru import logger`
`logger.remove()`

[2022-06-02 17:28] Zensonaton commented on #520
Как оказалось, и вправду, майл ру очень бедная компания, и поэтому им пришлось ограничить доступ к [отправке графити](https://vk.com/wall-1_395554), ибо люди использовали их для создания стикеров.
Спасибо за наводку.

[2022-06-02 17:28] #520 closed, assigned to axd1x8a

[2022-06-02 18:14] #516 closed, assigned to axd1x8a

[2022-06-05 14:45] #518 closed, assigned to axd1x8a

[2022-06-08 00:00] axd1x8a commented on #519
Fixed

[2022-06-08 00:00] #519 closed, assigned to axd1x8a

[2022-06-10 12:33] TaurDev opened #523 "Баг: ValidationError при смене цветового оформления чата"
При смене оформления чата пользователем вылетает ошибка о валидации

<details>
<summary>Сообщение ошибки</summary>

[code]

</details>

![image](https://user-images.githubusercontent.com/65149518/173064893-b5d224f6-a310-4d62-83cf-8410859f3f07.png)

[2022-06-11 08:42] axd1x8a commented on #523
Покажите евент, который приходит.

[2022-06-15 04:53] selfiction opened #524 "Баг: {Выдаёт огромный Error}"
**Бот использует картинку, который отправляет пользователь, затем преобразует его в демотиватор:** ...

**Ожидаемое поведение:** должен отправиться демотиватор

**Фактическое поведение:** картинка сохраняется на устройство(пол пути до конечного результата), но уже выдает ошибку и картинка не отправляется от бота. на локальной машине работает без нареканий, но заливая на хероку, заметил эту ошибку

[2022-06-17 22:31] selfiction commented on #524
спасибо, помогло

[2022-06-17 22:31] #524 closed, assigned to axd1x8a

[2022-06-23 05:12] ghost commented on #508
До вас дошло, это хорошо

[2022-06-29 19:49] ydjin0602 opened #526 "Ошибка валидации"
Добрый день!
Использую вашу библиотеку как удобный инструмент для работы с ВК API.
При вызове метода wall.get() происходит ошибка валидации
[code]

Версия библиотеки последняя

[2022-06-29 19:57] axd1x8a commented on #526
Установите последнюю версию vkbottle-types

[2022-06-29 21:25] ydjin0602 commented on #526
@FeeeeK Так же периодически ловлю вот такие ошибки
[code]

[2022-06-29 21:29] ydjin0602 commented on #526
установил, все еще не валидируется((

[2022-06-29 21:34] axd1x8a commented on #526
Что там вернул север?

[2022-06-29 22:11] ydjin0602 commented on #526
все то же самое что и в первом сообщении, вообще ничего не изменилось

[2022-06-30 03:40] axd1x8a commented on #526
В логах есть ответ сервера, посмотрите что там. (Я не про ошибку)

[2022-06-30 09:27] ydjin0602 commented on #526
[code]

[2022-06-30 10:46] ydjin0602 commented on #526
для этой ошибки ответ вот такой был
[code]

[2022-07-03 19:39] #523 closed, assigned to axd1x8a

[2022-07-03 19:39] #526 closed, assigned to axd1x8a

[2022-07-05 04:48] axd1x8a commented on #526
Ах, да. Обновите vkbottle-types ещё раз.

[2022-07-17 01:03] Friendosie opened #529 "Баг: unclosed connector в vkbottle/tools/dev/auth.py"
Ошибка:
Unclosed client session
client_session: <aiohttp.client.ClientSession object at 0x769411bfa0>
Unclosed connector
connections: ['[(<aiohttp.client_proto.ResponseHandler object at 0x768ffd4ca0>, 53486.361666725)]']
connector: <aiohttp.connector.TCPConnector object at 0x78ee49150>
Решение бага:
https://pastebin.com/W48mDcNJ

[2022-07-17 01:12] axd1x8a commented on #529
Какая версия вкботла?

[2022-07-17 02:38] Friendosie commented on #529
4.3.8

[2022-07-17 09:55] axd1x8a commented on #529
Покажите код

[2022-07-18 05:46] Friendosie commented on #529
https://pastebin.com/2Uk2g20P
В файле accs находится аккаунты в формате login:password

[2022-07-21 11:11] axd1x8a commented on #529
У меня баг не воспроизводится

[2022-07-21 11:11] #529 closed, assigned to axd1x8a

[2022-07-31 12:34] Pavel-qr opened #535 "Баг: types at GetAlbumsResponse"
File "pydantic/main.py", line 341, in pydantic.main.BaseModel.__init__
pydantic.error_wrappers.ValidationError: 4 validation errors for GetAlbumsResponse
response -> items -> 0 -> created
  field required (type=value_error.missing)
response -> items -> 0 -> updated
  field required (type=value_error.missing)
response -> items -> 1 -> created
  field required (type=value_error.missing)
response ->

[2022-07-31 13:06] axd1x8a commented on #535
Откройте ишью в [VKCOM/vk-api-schema](https://github.com/VKCOM/vk-api-schema)

[2022-08-03 10:42] NikAlexan opened #536 "Баг: TypeError при отправке карусели"
**Ожидаемое поведение:** Получение карусели в ответ на сообщение

**Фактическое поведение:** Выход TypeError в консоль
`ERROR    | 2022-08-03 16:39:48 | vkbottle.exception_factory.error_handler.error_handler:handle:43 > Can not serialize value type: <class 'int'>
 headers: {}
 value: 0
`

**Ваш код (опционально)**: [pastebin](https://pastebin.com/sGaDmUDL)

**Заполните поля технической информации:

[2022-08-04 03:07] NikAlexan commented on #536
Обновление. Если в template при отправке положить свой json код, то все работает.
**Код:** [pastebin](https://pastebin.com/tRR42K2h)

[2022-08-07 12:37] solodanil opened #537 "Баг: Validation error при получении изображения"
При получении изображения появлсяется ошибка validation error for MessageNew

ERROR:vkbottle:1 validation error for MessageNew
object -> message -> attachments -> 0 -> photo -> has_tags
  field required (type=value_error.missing)
Traceback (most recent call last):
  File "/Users/solodanil/PycharmProjects/VkStickersBot/new_venv/lib/python3.9/site-packages/vkbottle/dispatch/base.py", line 22, in rou

[2022-08-14 13:37] HamerLolKekChegoo opened #539 "Баг: декоратор raw_event() работает только в одном Blueprint/Labeler"
При подключении первого Blueprint/Labeler с декоратором raw_event(), работает только первый подключенный, игнорируя остальные. Подключаю стандартным способом, который описан в документации

---

vkbottle==4.1.13
vkbottle-types==5.131.146.2.post1
OS: Windows 10

---

[2022-08-14 13:40] HamerLolKekChegoo opened #540 "Предложение: state_dispenser именно для user_id"
Предлагаю сделать state_dispenser именно для user_id (сейчас только для peer_id)

[2022-08-14 14:18] axd1x8a commented on #539
Не помню в какой точно, но это точно исправлено в последних версиях.

[2022-08-14 14:18] #539 closed, assigned to axd1x8a

[2022-08-14 14:24] axd1x8a commented on #540
Для этого вам нужно сделать так:

[code]

[2022-08-14 14:24] #540 closed, assigned to axd1x8a

[2022-08-18 02:46] #535 closed, assigned to axd1x8a

[2022-08-18 02:46] #537 closed, assigned to axd1x8a

[2022-08-21 12:24] belkinark opened #543 "Множественное нажатие на кнопку клавиатуры."
Приветсвую, пытаюсь реализовать функцию кнопок. Есть проблема, когда нажимаешь на кнопку сообщение и новая клавиатура отправляется с задержкой, из-за этого успеваешь нажать на кнопку ещё 10 раз и соответсвенно сообщение с клавиатурой и сама функция выполняются тоже 10 раз. Есть ли решение это проблемы без использования one_time?

Примерно так это выглядит:
![unknown 1](https://user-images.githubus

[2022-08-21 13:54] axd1x8a commented on #543
Используйте стейты.
https://vkbottle.readthedocs.io/ru/latest/high-level/handling/state-dispenser/

[2022-08-21 13:55] #543 closed, assigned to axd1x8a

[2022-08-21 14:19] belkinark commented on #543
Всё ровно не то.
Я так же успеваю нажать на кнопку 3 раза и он выполняет эту функцию 3 раза.

![image](https://user-images.githubusercontent.com/67878832/185795417-fab76f81-1c01-4cf1-9421-1ed672ee93f9.png)

[2022-08-21 14:32] axd1x8a commented on #543
Значит вы делаете что-то не так.

[2022-08-21 14:37] belkinark commented on #543
Забыл код прикрепить

[code]

[2022-08-21 14:38] axd1x8a commented on #543
Сделайте чтобы первое сообщение обрабатывалось только если нет стейта.

[2022-08-21 14:39] axd1x8a commented on #543
А сам стейт устанавливаете раньше отправки.

[2022-08-21 14:42] belkinark commented on #543
Всё отлично, спасибо.

[2022-08-22 18:05] HamerLolKekChegoo opened #544 "Предложение: сделать loop_wrapper для Blueprint"
Добавить loop_wrapper для Blueprint
Пример:

bp.loop_wrapper.add_task(mama_ya_programmist())

[2022-08-22 18:11] axd1x8a commented on #544
Сделайте один глобальный loop_wrapper и используете его там, где вам нужно, а потом передайте в инит Bot.

[2022-08-23 00:31] #544 closed, assigned to axd1x8a

[2022-08-23 19:56] #536 closed, assigned to axd1x8a

[2022-08-28 15:30] izya5346 opened #546 "AttributeError: type object 'KeyboardButton' has no attribute 'action"
Сделал по example.py
keyboard = Keyboard(one_time=True, inline=False).schema(
            [
            [
                {"label": "Button 1", "type": "text", "color": "positive"},
                {"label": "Button 2", "type": "text"},
            ],
            [{"label": "Button 3", "type": "text"}],
            ]
    ).get_json()
но возвращает ошибку

vkbottle==4.3.9
vkbottle-types==5.131.146.

[2022-08-28 15:47] axd1x8a commented on #546
Покажите трейс полностью

[2022-08-28 16:31] izya5346 commented on #546
ERROR:vkbottle:type object 'KeyboardButton' has no attribute 'action'
Traceback (most recent call last):
  File "/home/izyafroloff/foodcort/env/lib/python3.10/site-packages/vkbottle/dispatch/base.py", line 22, in route
    await view.handle_event(event, ctx_api, self.state_dispenser)
  File "/home/izyafroloff/foodcort/env/lib/python3.10/site-packages/vkbottle/dispatch/views/abc/message.py", line 7

[2022-08-28 17:31] KOMPuteRSH4IK opened #547 "Вопрос: Как сделать так чтоб return возвращал значения chat_id и user_id, а не отправлял их в виде сообщений в вк?"
Как сделать так чтоб return возвращал значения chat_id и user_id, а не отправлял их в виде сообщений в вк
код: https://pastebin.com/rWEAgLj9

[2022-08-28 18:21] axd1x8a commented on #547
https://vkbottle.readthedocs.io/ru/latest/high-level/handling/return-manager/

[2022-08-28 18:21] #547 closed, assigned to axd1x8a

[2022-08-29 15:22] rirxr opened #548 "Вопрос: Как устроить проверку на пустой аргумент"
К примеру

[code]

Установка arg в значение None тоже не помогает

[2022-08-29 15:39] axd1x8a commented on #548
Этот рул может принимать как строку, так и список строк. Просто в декоратор передайте еще и строку без аргумента, а в самой функции сделайте его опциональным.

[2022-08-29 15:39] #548 closed, assigned to axd1x8a

[2022-08-30 20:58] bimgeer opened #549 "Использование регулярных выражений в vkbottle"
Пишу бота, в котором имеется множество кнопок, некоторые из которых следуют цепочкой друг за другом.
Во время написания столкнулся с проблемой - когда пользователь вводит любую информацию в чат на любом этапе бота (начало/середина/конец), то его перекидывает на этап написания его ФИО, которое следует после нажатия определённых кнопок.

Пытался решить проблему через регулярные выражения, однако либ

[2022-08-30 21:58] axd1x8a commented on #549
Не понимаю, что вы хотите сделать и причем тут регексы, ботл никак не мешает их использовать.
Сейчас это выглядит, как [проблема XY](https://ru.m.wikipedia.org/wiki/%D0%9F%D1%80%D0%BE%D0%B1%D0%BB%D0%B5%D0%BC%D0%B0_XY), почитайте документацию и если это не решит вашу проблему, то покажите код.

[2022-08-31 08:39] bimgeer commented on #549
Пытался реализовать через параметр text фильтрацию, при помощи регулярных выражений, присылаемых сообщений так, чтобы бот не реагировал на любой другой текст, который не содержал бы ФИО пользователя.

Если этого не делать, то при нажатии на другие кнопки пользователя перебрасывает на этап записи ФИО, чего быть не должно.

[code]

[2022-08-31 11:57] axd1x8a commented on #549
text= это шорткат для VBMLRule, а не для регексов.
Пожалуйста, прочтите документацию полностью, а потом уже задавайте вопрос.
https://vkbottle.readthedocs.io/ru/latest/high-level/routing/rules/

https://vkbottle.readthedocs.io/ru/latest/tutorial/rules/

[2022-08-31 11:59] #549 closed, assigned to axd1x8a

[2022-09-01 15:41] bimgeer commented on #549
Подскажите, пожалуйста, в чём заключается моя ошибка в данном коде.

[code]

Если ввести вместо регулярного выражения любой текст, то всё прекрасно работает, не выдаёт ошибок и бот спокойно себе работает.

[2022-09-01 18:19] axd1x8a commented on #549
Изучите python, регексы в нем работают иначе.

Для вашего удобства оставлю это здесь:
https://www.google.com/search?q=python+regex

[2022-09-05 22:57] #546 closed, assigned to axd1x8a

[2022-09-08 16:10] bimgeer opened #561 "Использование vk_api в vkbottle"
Недавно видел, как пользователь github использовал библиотеку vk_api в vkbottle.
К сожалению, ссылку забыл сохранить.

Подскажите, пожалуйста, в каком пункте документации можно найти эту функцию.

[2022-09-08 16:15] axd1x8a commented on #561
Для чего вам vk_api? В vkbottle уже есть все, что предоставляет эта библиотека.

[2022-09-09 23:05] bimgeer commented on #561
Затем, что для моей задачи не хватает навыка владения vkbottle и некоторые вещи было бы проще и быстрее написать при помощи vk_api, нежели тратить время, которого и так нет, на изучение криво написанной документации.

[2022-09-09 23:18] bimgeer commented on #561
Не понимаю вашей логики. Вы создаёте метод, при помощи которого можно связать 2 разные библиотеки, люди этот метод находят, используют, но при этом на мой вопрос поступает ответ, что в vkbottle уже всё есть и не нужон этот ваш vk_api. И это вместо того, чтобы ответить на поставленный вопрос, который был не об этом.

Может проще этот метод удалить? Или всё таки отвечать на поставленные вопросы, а н

[2022-09-09 23:20] axd1x8a commented on #561
Сожалею, что вам тяжело читать документацию, написанную максимально простым языком. Советую ознакомиться с простейшими концепциями программирования и основами python. Тогда вы все сможете понять.

[2022-09-09 23:23] axd1x8a commented on #561
Связать можно что угодно (ссылаюсь на свой предыдущий комментарий). Никаких специальных методов не существует.
Для новичков существует туториал, подробно разжевывающий базовый функционал vkbottle.

[2022-09-10 17:03] axd1x8a commented on #561
Вы можете сразу спросить о том, что у вас не получается, а не изобретать велосипед.

[2022-09-11 10:35] axd1x8a commented on #561
Ладно, надеюсь, что вы уже решили свою проблему.

[2022-09-11 10:35] #561 closed, assigned to axd1x8a

[2022-09-18 13:59] NotWorkingCode opened #567 "Вопрос: Как получить аргументом строку состоящую из нескольких слов?"
Имеется хэндлер вида:
[code]
В аргумент "Причина" может приходить строка состоящая из нескольких слов.

Как для такой команды изменить хэндлер, чтобы в функцию передавалась вся строка?

[2022-09-18 14:01] axd1x8a commented on #567
Она и так будет приходить.

[2022-09-18 14:02] shjwkdixkskwldi commented on #567
Мне говорили, что оставшаяся строка и будет.

[2022-09-18 14:11] HamerLolKekChegoo commented on #567
Дополни ишью, тем что выдаёт

[2022-09-18 14:42] NotWorkingCode commented on #567
Проблема была не в библиотеке, а в моем коде,
Всем спасибо.

[2022-09-18 14:42] #567 closed, assigned to axd1x8a

[2022-09-26 13:26] wildrun0 opened #572 "Предложение: Использование msgspec вместо msgpack & orjson/ujson"
При запуске замечаю что
`msgpack not installed, MsgPackSerializer unavailable (serializers.py:15)`
и как мне кажется, более лучшей (и более быстрой) альтернативой для msgpack будет [msgspec](https://github.com/jcrist/msgspec).
Оно так же может заменить `ujson`

[2022-09-26 13:47] wildrun0 commented on #572
Я дико извиняюсь, не вник до конца в логи, это **не от vkbottle** сообщения про msgpack
Но насчет json -  msgpec быстрее конкурентов в лице orjson/ujson и пр. в 2-40 раз

[2022-09-26 20:57] axd1x8a commented on #572
Его API совместим с библиотекой json?

[2022-09-27 09:53] dhvcc commented on #572
@FeeeeK ujson да, orjson же dumps делает в байты (losds из строки работает как обычно). Можно самому обернуть, но может проще юзать ujson. Для этого разве что нужно провести бенчмарки и понять, если ли реальный перфоманс буст в ботк или это просто будет +1 зависимость

[2022-09-27 10:16] wildrun0 commented on #572
msgspec использует msgspec.json.encode чтобы приводить типы (msgspec.Struct)  в байты и msgspec.json.decode чтобы декодировать байты сразу в тип msgspec.Struct

[2022-09-27 12:09] axd1x8a commented on #572
Тогда нужно будет избавляться от pydantic, а этого в планах нет.

[2022-09-27 13:43] #572 closed, assigned to axd1x8a

[2022-09-30 03:00] axd1x8a opened #573 "Migrate from `pydantic` to `msgspec`"
В #572 было предложено использовать `msgspec` вместо `json`, но можно пойти дальше и использовать его вместо `pydantic`.
Пока не совсем ясно, какой будет прирост в производительности, но, в теории, это должно сильно ускорить обработку и валидацию ответов от вк.
Проблема лишь в том, что потребуется полностью переписать [vkbottle/types](https://github.com/vkbottle/types), на что пока нет времени.

[2022-09-30 03:32] axd1x8a commented on #573
Как оказалось, `msgspec` не поддерживает python 3.7, что тоже может стать проблемой, тк у vkbottle нет никаких проблем с его поддержкой и отказываться от нее нет смысла.

[2022-10-16 12:41] Amele9 opened #577 "Баг: Неверное сравнение в CommandRule"
В функции check класса CommandRule (vkbottle\dispatch\rules\base.py) проверяется равенство текста и длины команды, а должно проверяться равенство длины текста и длины команды.
[code]

1. Исправьте text_lenght на text_length
2. Замените event.text на len(event.text)

Код (уже исправлено):
[code]

[2022-10-16 13:57] dhvcc commented on #577
@Amele9 можешь использовать
\```diff
untouched code ...
\- prev code
\+ new code
untouched code ...
\```
Что бы проще показать изменения, если ПР не поднимаешь

[2022-10-16 14:01] Amele9 commented on #577
Хорошо. Спасибо.
Я хотел сделать pull request, но не понял как его сделать. Нужны какие то
poetry. Кажется снова надо читать документацию.

вс, 16 окт. 2022 г., 18:57 Alexey ***@***.***>:

[2022-10-16 14:11] dhvcc commented on #577
Если не хочешь разбираться - могут за тебя поправить. Но можешь и попробовать развернуть проект, если хочешь, написать для этого тест и поднять ПР. Плюс в карму

[2022-10-16 14:51] vypivshiy commented on #577
Если вкратце то следующие шаги надо сделать (без учета рекомендаций [CONTRIBUTION_GUIDE)](https://github.com/vkbottle/vkbottle/blob/master/CONTRIBUTION_GUIDE.md)

* сделать форк vkbottle в свой репозиторий
* скачать через `git clone`
* переключиться на **dev** ветку
* установить poerty `pip install poerty`
* установить все зависимости через `poetry install`
* сделать фикс, запушить в __свой форк-р

[2022-10-17 23:47] #577 closed, assigned to axd1x8a

[2022-10-20 12:28] dhvcc commented on #573
@FeeeeK через 8 месяцев дропается поддержка вроде как. По такой же логике 3.6 не поддерживали.

Лучше сначала провести бенчмарки, а потом уже думать стоит ли вообще трогать это всё дело. Нужно ли будет кодген переписывать под `msgspec`? Есть ли у `msgspec` все фичи что тут уже юзаются?

[2022-10-27 12:45] Chimtek commented on #381
await m.answer(attachment="photo-41629685_457239401") - это работает и у меня в боте
await m.answer(attachment="photo-347239_457244924") - а больше ничего не работает из такого, бот тот же

[2022-10-27 13:24] luwqz1 commented on #381
@Chimtek VK API docs != vkbottle

[2022-10-31 07:35] IgnatInyutsin opened #581 "How i can handle kick event&"

[2022-10-31 07:56] relativemodder commented on #581
@IgnatInyutsin ??

[2022-10-31 08:05] IgnatInyutsin commented on #581
I want handle kick event in chats like @bot.on.message

[2022-10-31 08:10] ronmount commented on #581
@IgnatInyutsin ну если сильно хочется то делай чё кайф брат

[2022-10-31 08:10] TheBakerCat commented on #581
@IgnatInyutsin Делай че по кайфу бро

[2022-10-31 08:11] IgnatInyutsin commented on #581
Я хочу понять, как

[2022-10-31 08:11] VodoGamer commented on #581
кайфуй от кайфа брат

[2022-10-31 08:11] TheBakerCat commented on #581
@VodoGamer Кайфы кайфы кайфуле

[2022-10-31 09:16] suconakh commented on #581
https://github.com/vkbottle/vkbottle/blob/33394142644615fef75a90f6263cb8ed6686a5d9/examples/high-level/easy_bot.py#L49-L63

[2022-10-31 10:24] IgnatInyutsin commented on #581
Спасибо!

[2022-10-31 10:24] #581 closed, assigned to axd1x8a

[2022-10-31 10:30] IgnatInyutsin commented on #581
извиняюсь, а можете подсказать хандлер для кика в беседе именно, никак не могу найти

[2022-11-04 04:16] axd1x8a commented on #573
Как оказалось, вконтакте поддерживает msgpack, а это значит, что от msgspec теперь еще больше смысла

[2022-11-04 21:39] ZeN220 opened #582 "Не отправляются вложения в чате"
**Опишите баг:** не могу отправить гифки, картинки и видео в телеграм чате VKBottle

**Ожидаемое поведение:** Отправленные вложения в чат

**Фактическое поведение:**
![Screenshot_2022-11-05-00-37-58-25_948cd9899890cbd5c2798760b2b95377](https://user-images.githubusercontent.com/79989516/200078991-79d1cc98-d359-4770-9804-3dd6f3a2b849.jpg)
![Screenshot_2022-11-05-00-37-50-04_948cd9899890cbd5c2798760b

[2022-11-04 21:39] #582 closed, assigned to axd1x8a

[2022-11-12 11:03] asnct opened #591 "Грамматическая ошибка"
Вместо "Loop will be run forever" выводится "Loop will be ran forever"
https://github.com/vkbottle/vkbottle/blob/master/vkbottle/framework/bot/bot.py#L90

[2022-11-14 19:31] #591 closed, assigned to nobody

[2022-11-23 18:35] ghost opened #592 "Баг: SyntaxError: invalid syntax"
**Опишите баг:** ...
  File "C:\Users\fserg\Desktop\v1.py", line 5, in <module>
    from vkbottle.bot import Bot, Message
  File "C:\Users\fserg\AppData\Roaming\Python\Python37\site-packages\vkbottle\__init__.py", line 4, in <module>
    from .api import (
  File "C:\Users\fserg\AppData\Roaming\Python\Python37\site-packages\vkbottle\api\__init__.py", line 2, in <module>
    from .api import API

[2022-11-23 18:36] axd1x8a commented on #592
Либо обновите вкботл до последней версии, либо установите python3.8

[2022-11-23 18:37] ghost commented on #592
Попробую, отпишу

[2022-11-23 18:39] ghost commented on #592
А 3.8.1/2/3/4? какой лучше

[2022-11-23 18:40] axd1x8a commented on #592
https://semver.org/
Советую ознакомиться и вы сами найдете ответ на ваш вопрос.

[2022-11-23 18:50] ghost commented on #592
Спасибо бро, 2 совет не только помог, но и ускорил работу бота на 0.2 секунды быстрее отвечает.
Кому интересно рандомно тыкнул и установил python 3.8.6

[2022-11-23 19:12] #592 closed, assigned to axd1x8a

[2022-11-24 08:12] ghost opened #593 "Что не так со стейтом"
**Вопрос:** ...
Код:
[code]
Да все работает, но при этом ban_handler вызывается при любой команде
Пример:
/ban
Результат: Введите имя пользователя для блокировки
 Der_439
Результат: Вызван метод блокировки
gjghgewkgewkkgewgew
Результат: Вызван метод блокировки

[2022-11-24 08:55] ghost commented on #593
После 1 вызова команды он любую команду считает как этот стейт

[2022-11-24 09:01] ghost commented on #593
![image](https://user-images.githubusercontent.com/86500766/203739646-cb454e29-690c-4bd0-8404-a58abaaeabad.png)

[2022-11-24 09:08] axd1x8a commented on #593
Стейты нужно удалять, посмотрите примеры и почитайте документацию внимательнее.

[2022-11-24 09:08] #593 closed, assigned to axd1x8a

[2022-11-25 08:38] ghost opened #594 "Хочу распечатать в каждую кнопку текст из массива как это сделать"
**Вопрос:** ...

[code]
Выдает ошибку:
vkbottle.exception_factory.code_exception.VKAPIError_911: Keyboard format is invalid: row 4 contains too much columns

[2022-11-25 08:39] ghost commented on #594
Извеняюсь за большое кол-во вопросов

[2022-11-25 09:01] axd1x8a commented on #594
Для начала, ознакомьтесь с [этим](https://docs.python.org/3/tutorial/controlflow.html#for-statements), а потом с [этим](https://vk.com/dev/bots_docs_3)

[2022-11-25 09:01] #594 closed, assigned to axd1x8a

[2022-11-25 09:10] wtlgo commented on #594
Твой код генерирует вот такой JSON:
[code]

Как ты можешь обратить внимание, `buttons[4]` - пустой массив, что недопустимо. Попробуй пропускать последний вызов keyboard.row()

[2022-11-25 09:20] ghost commented on #594
спасибо друг, все заработало
[code]

[2022-11-30 10:32] KOMPuteRSH4IK opened #596 "Как подключить свой return manager к Messageview"
В документации написано как это сделать для своих view, но не написано как это сделать для view которые есть в vkbottle

[2022-11-30 14:15] suconakh commented on #596
[code]
Или
[code]

[2022-11-30 14:20] #596 closed, assigned to axd1x8a